<!DOCTYPE html>
<html lang="en">
    <head>
        <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
 ga('create', 'UA-43700380-1', 'innoovatum.com');
  ga('send', 'pageview');
</script>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>INNOOVATUM INTERNSHIP WEBLINK</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&amp;display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&amp;display=swap" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
            <div class="container">
                <a class="navbar-brand fw-bold" href="#page-top"><img src="images/mainlogo.png" class="img-thumbnail" width="60%"></a>
                 
                 
            </div>
        </nav>
        <!-- Mashead header-->
        <header class="masthead">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <!-- Mashead text and app badges-->
                        <div class="mb-5 mb-lg-0 text-center text-lg-start">
                            <h4 style="font-family: arial; line-height: 1.6;">Master the Technologies on <span style="color: #f1c40f ">Full Stack Development | Machine Learning | Iot (Internet of Things)</span> to get placed in MNC before Engineering Degree without much cost and efforts with <span style="color: #06f">"Innoovatum Intensive Practical Internship Program"</span></h4>

                            <h5 style="font-family:arial">Location: Bijapur (Offline) | All India (Online)</h5>
<a href="tel:+917204099395">
    <button type="button" class="btn btn-success">Click to Call</button></a>

<a href="https://g.page/innoovatum?share">
    <button type="button" class="btn btn-success">Location Map</button>
</a>
                            
                            <hr>

                            <p style="font-size: 18px; font-family:arial">Start your internship program with us for next <b><u>5 days without paying any cost</u></b> and you will see the outstanding difference & discover the actual engineering in your engineering career. <b>We promise it</b></p>

                    <h3 style="font-family: arial;">Starts on <span style="color:#e74c3c">1st September  2022, 10:30am</span></h3>
                   
                   <br>
<a href="https://www.instamojo.com/@innoovatum/lfee7d466d0bb40c49916691cad002c23/">
    

    <button type="button" class="btn btn-primary btn-lg">

    <b style="color:yellow; font-size:24px">Register Now @ Just Rs 3500/-</b><br>
    <i>*Get Mentoring worth Rs 5500/- absolutely free</i><br>

    <b style="font-size:14px; font-family:arial">Independence Day offers till 31 August 2022</b>
    </button>
</a>
                             
                        </div>
                    </div>

            <div class="col-lg-6">
            <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Fshaukatinnoovatum%2Fvideos%2F2319605388171951%2F&show_text=false&width=560&t=0" width="100%" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Quote/testimonial aside-->
        <aside class="text-center bg-gradient-primary-to-secondary">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8">
                        <div class="h3 fs-1 text-white mb-4" style="font-family: arial;">"From 2013 we are on mission to make Engineering Education a Practical Approach, Provided internship to 1000+ students all over karnataka & India and <u>Most of the interns got placed in MNC companies.</u>"</div>
                        <img src="images/logo.png" alt="..." style="height: 6rem" />

<hr>
<i style="color:white">To name a few interns and students got placed</i>
<hr>
<img src="images/list.png" width="100%" class="img-thumbnail">

                    </div>
                </div>
            </div>
        </aside>

        <hr>

<div class="container">
<div class="row">

<center>    
<h1 style="font-family:calibri">Are you struggling to get right Internship  for your practical engineering career? </h1>
</center>

    <div class="col-sm">
<br>
        <ul>

            <li><p style="font-family:arial; font-size:18px">Looking for internship that provides knowledge & mentors you to get placed in good job before or after engineering </p> </li>

            <li><p style="font-family:arial; font-size:18px">Looking for internship that improves your skills & helps you to discover your inner passion and potientials </p> </li>

            
        </ul>
         
    </div><!--col1-->

    <div class="col-sm">
<br>
        <ul>

            <li><p style="font-family:arial; font-size:18px">Are your really looking for real-time internship</p> </li>

            <li><p style="font-family:arial; font-size:18px">Worried about Offline/Online mode of internship</p> </li>
            
        </ul>
         
    </div><!--col1-->

<center>
    <h4 style="font-family:arial">All engineering students, freshers & job aspirants face the same problems. You are not alone and we can help.</h4>
</center>

</div><!--row-->
<center>

    <a href="https://www.instamojo.com/@innoovatum/lfee7d466d0bb40c49916691cad002c23/">
<button type="button" class="btn btn-primary btn-lg">

    <b style="color:yellow; font-size:24px">Register Now @ Just Rs 3500/-</b><br>
    <i>*Get Mentoring worth Rs 5500/- absolutely free</i><br>

    <b style="font-size:14px; font-family:arial">Independence Day offers till 31st August 2022</b>
    </button>
</a>
</center>
</div><!--container-->



        <!-- App features section-->
        <section id="features">
             
    <div class="container">
        
        <!--images-->
        
        
         <div class="row">
        <div class="col-sm">
            <img src="images/innoovatum_internship_1.jpg" width="100%" class="img-thumbnail" alt="innoovatum internship">
            <h3 class="font-alt">Internship session</h3>
        </div>

         <div class="col-sm">
            <img src="images/innoovatum_internship_2.jpg" width="100%" class="img-thumbnail" alt="innoovatum internship">
            <h3 class="font-alt">Internship session</h3>
        </div>
    </div>
    
        
        <div class="row">
        <div class="col-sm">
            <img src="images/innoovatum_internship_3.jpg" width="100%" class="img-thumbnail" alt="innoovatum internship">
            <h3 class="font-alt">Internship session</h3>
        </div>

         <div class="col-sm">
            <img src="images/innoovatum_internship_4.jpg" width="100%" class="img-thumbnail" alt="innoovatum internship">
            <h3 class="font-alt">Internship session</h3>
        </div>
    </div>
        
        
        
    
    <div class="row">
        <div class="col-sm">
            <img src="images/innoovatum_internship_5.jpg" width="100%" class="img-thumbnail">
            <h3 class="font-alt">Internship session</h3>
        </div>

         <div class="col-sm">
            <img src="images/innoovatum_internship_6.jpg" width="100%" class="img-thumbnail">
            <h3 class="font-alt">Internship session</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <img src="images/innoovatum_internship_7.jpg" width="100%" class="img-thumbnail">
            <h3 class="font-alt">Innoovatum fun time</h3>
        </div>

         <div class="col-sm">
            <img src="images/innoovatum_internship_8.jpg" width="100%" class="img-thumbnail">
            <h3 class="font-alt">Internship Successfull</h3>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm">
            <img src="images/innoovatum_internship_9.jpg" width="100%" class="img-thumbnail">
            <h3 class="font-alt">Innoovatum fun time</h3>
        </div>

         <div class="col-sm">
            <img src="images/innoovatum_internship_10.jpg" width="100%" class="img-thumbnail">
            <h3 class="font-alt">Internship Successfull</h3>
        </div>
    </div>
        
        
        
        <!--images-->
        
        <div class="row">
        <div class="col-sm">
            <img src="images/innoovatum_feedback1.jpg" width="100%" class="img-thumbnail" alt="innoovatum internship">
            <h3 class="font-alt">Internship session</h3>
        </div>

         <div class="col-sm">
            <img src="images/innoovatum_feedback2.jpg" width="100%" class="img-thumbnail" alt="innoovatum internship">
            <h3 class="font-alt">Internship session</h3>
        </div>
        </div>
    
        
        <div class="row">
        <div class="col-sm">
            <img src="images/innoovatum_feedback3.jpg" width="100%" class="img-thumbnail" alt="innoovatum internship">
            <h3 class="font-alt">Internship session</h3>
        </div>

        <div class="col-sm">
            <img src="images/innoovatum_feedback4.jpg" width="100%" class="img-thumbnail" alt="innoovatum internship">
            <h3 class="font-alt">Internship session</h3>
        </div>
        </div>
    
    <!--feedbacks-->
    
    
    <div class="row">
        <div class="col-sm">
            <img src="images/innoovatum_internship_11.jpg" width="100%" class="img-thumbnail" alt="innoovatum internship">
            <h3 class="font-alt">Internship session</h3>
        </div>

         <div class="col-sm">
            <img src="images/innoovatum_internship_12.jpg" width="100%" class="img-thumbnail" alt="innoovatum internship">
            <h3 class="font-alt">Internship session</h3>
        </div>
        </div>
    
        
        <div class="row">
        <div class="col-sm">
            <img src="images/innoovatum_internship_13.jpg" width="100%" class="img-thumbnail" alt="innoovatum internship">
            <h3 class="font-alt">Internship session</h3>
        </div>

        <div class="col-sm">
            <img src="images/innoovatum_internship_14.jpg" width="100%" class="img-thumbnail" alt="innoovatum internship">
            <h3 class="font-alt">Internship session</h3>
        </div>
        </div>
        
        <div class="row">
        <div class="col-sm">
            <img src="images/innoovatum_internship_15.jpg" width="100%" class="img-thumbnail" alt="innoovatum internship">
            <h3 class="font-alt">Internship session</h3>
        </div>

         <div class="col-sm">
            <img src="images/innoovatum_internship_16.jpg" width="100%" class="img-thumbnail" alt="innoovatum internship">
            <h3 class="font-alt">Internship session</h3>
        </div>
        </div>
    
        
        <div class="row">
        <div class="col-sm">
            <img src="images/innoovatum_internship_17.jpg" width="100%" class="img-thumbnail" alt="innoovatum internship">
            <h3 class="font-alt">Internship session</h3>
        </div>

        <div class="col-sm">
            <img src="images/innoovatum_internship_18.jpg" width="100%" class="img-thumbnail" alt="innoovatum internship">
            <h3 class="font-alt">Internship session</h3>
        </div>
        </div>
        
        <div class="row">
        <div class="col-sm">
            <img src="images/innoovatum_internship_19.jpg" width="100%" class="img-thumbnail" alt="innoovatum internship">
            <h3 class="font-alt">Internship session</h3>
        </div>

         <div class="col-sm">
            <img src="images/innoovatum_internship_20.jpg" width="100%" class="img-thumbnail" alt="innoovatum internship">
            <h3 class="font-alt">Internship session</h3>
        </div>
        </div>
    
        
        <div class="row">
        <div class="col-sm">
            <img src="images/innoovatum_internship_21.jpg" width="100%" class="img-thumbnail" alt="innoovatum internship">
            <h3 class="font-alt">Internship session</h3>
        </div>

        <div class="col-sm">
            <img src="images/innoovatum_internship_22.jpg" width="100%" class="img-thumbnail" alt="innoovatum internship">
            <h3 class="font-alt">Internship session</h3>
        </div>
        </div>
        
        
        <div class="row">
        <div class="col-sm">
            <img src="images/innoovatum_internship_23.jpg" width="100%" class="img-thumbnail" alt="innoovatum internship">
            <h3 class="font-alt">Internship session</h3>
        </div>

        <div class="col-sm">
            <img src="images/innoovatum_internship_24.jpg" width="100%" class="img-thumbnail" alt="innoovatum internship">
            <h3 class="font-alt">Internship session</h3>
        </div>
        </div>
        
        <div class="row">
        <div class="col-sm">
            <img src="images/innoovatum_internship_25.jpg" width="100%" class="img-thumbnail" alt="innoovatum internship">
            <h3 class="font-alt">Internship session</h3>
        </div>

       
    
    
    
    
    
    
    <!--feedbacksend-->
        
        
        
    
    <div class="row">
        <div class="col-sm">
            <img src="images/1.jpg" width="100%" class="img-thumbnail">
            <h3 class="font-alt">Internship session</h3>
        </div>

         <div class="col-sm">
            <img src="images/2.jpg" width="100%" class="img-thumbnail">
            <h3 class="font-alt">Internship session</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <img src="images/3.jpg" width="100%" class="img-thumbnail">
            <h3 class="font-alt">Innoovatum fun time</h3>
        </div>

         <div class="col-sm">
            <img src="images/4.jpg" width="100%" class="img-thumbnail">
            <h3 class="font-alt">Internship Successfull</h3>
        </div>
    </div>

    <center>
        <a href="https://www.instamojo.com/@innoovatum/lfee7d466d0bb40c49916691cad002c23/">
        
    <button type="button" class="btn btn-primary btn-lg">

    <b style="color:yellow; font-size:24px">Register Now @ Just Rs 3500/-</b><br>
    <i>*Get Mentoring worth Rs 5500/- absolutely free</i><br>

    <b style="font-size:14px; font-family:arial">Independence Day offers till 31st August 2022</b>
    </button>
</a>
    </center>

 </div>
    
    

                    
                                  
        </section>
        <!-- Basic features section-->
        <section class="bg-light">
            <div class="container px-5">
                <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
                    <div class="col-12 col-lg-5">
                        <center><h3 style="font-family:arial">Join Internship with Innoovatum Team that makes your super capable for your engineering career in true 100% practical sense</h3>
                        </center>
                         
                    </div>
                   
                    <div class="col-sm-8 col-md-6">
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/DcF6XWi18UM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </section>
        <!-- Call to action section-->
        <section class="cta">
            <div class="cta-content">
                <div class="container px-5">
                    <h2 class="text-white display-1 lh-1 mb-4">
                        Stop waiting.
                        <br />
                        Start building your engineering career.
                    </h2>
                     
                </div>
            </div>
        </section>
        <!-- App badge section-->
        <section class="bg-gradient-primary-to-secondary" id="download">
            <div class="container px-5">
                <h2 class="text-center text-white font-alt mb-4">See what Innoovatum interns/students say about us!<br> <u><a href="https://www.google.com/search?q=innoovatum&client=firefox-b-d&ei=3PcTYerEAY-GyAOuso6oDg&oq=innoovatum&gs_lcp=Cgdnd3Mtd2l6EANKBAhBGABQJVjMAWC0A2gAcAJ4AIABAIgBAJIBAJgBAKABAcABAQ&sclient=gws-wiz&ved=0ahUKEwjqoqSGr6nyAhUPA3IKHS6ZA-UQ4dUDCA0&uact=5" style="color:white">Click to check all reviews on Google reviews</a></u></h2>
                 
                 <h2 class="text-center text-white font-alt mb-4">Check out Interns feedbacks on youtube<br> <u><a href="https://www.youtube.com/results?search_query=innoovatum+engineeering" style="color:white">Click to check all reviews on Google reviews</a></u></h2>
<div class="row" >

    <div class="col-sm">
        <img src="feedbacks/1.jpeg" width="100%">
    </div>
    <div class="col-sm" style="padding-top: 10px;">
        <img src="feedbacks/2.jpeg" width="100%">
    </div>
     
</div><!--row-->


<div class="row">

    <div class="col-sm">
        <img src="feedbacks/3.jpeg" width="100%">
    </div>
    <div class="col-sm" >
        <img src="feedbacks/4.jpeg" width="100%">
    </div>
     
</div><!--row-->


<div class="row">

    <div class="col-sm" style="padding-top: 10px;" >
        <img src="feedbacks/5.jpeg" width="100%">
    </div>
     
</div><!--row-->

            </div>
        </section>

<section class="bg-gradient-primary-to-danger" id="download">

<div class="container">
    <div class="row">
    <center>
    <h2 style="font-family:arial">Select internship domain which <span style="color:#f1c40f">suits your passion</span></h2>
    </center> 
<p></p>

    <div class="col-sm">

        <center>
            <img src="images/one.png">
            <h3>Full Stack Developer</h3>
            <p>Learn & Work on worlds top web development frameworks PHP-Laravel-Reactjs & Python-Django-Reactjs, develop realtime web apps</p>

            <a href="contents/Full Stack Development Laravel & React Js.pdf">
            <button type="button" class="btn btn-success btn-lg">Download Content</button>
            </a>
            
        </center>
    </div>

    <div class="col-sm">

    <center>
            <img src="images/two.png">
            <h3>Machine Learning</h3>
            <p>Implement the leading technology for next generation innovations, Develop machine learning models for real life solutions</p>
            
            <a href="contents/Artificial Intelligence_Machine_Learning.pdf">
            <button type="button" class="btn btn-primary btn-lg">Download Content</button>
            </a>            
        </center>
    </div>


    <div class="col-sm">
        <center>
            <img src="images/three.png">
            <h3>Internet of Things</h3>
            <p>Learn implement and have fun with IoT from basics to developing realtime IoT projects 100% excitment guaranteed </p>

            <a href="contents/iot.pdf">
            <button type="button" class="btn btn-warning btn-lg">Download Content</button>
            </a>
        </center>


    </div>

    </div><!--row-->
    <br>
<hr>
    <br>
    <h2>This Is Truly A Limited Seats Offer, So Join the Internship Now Before They're All Gone...</h2>

    <p style="font-family:arial; font-size:18px">Thanks for your time to reach us for right engineering Internship</p>

    <p style="font-family:arial; font-size:18px">You can see right now, you are getting 4-8 weeks internship with mentorship for next 1 year completely free (worth Rs 5500/- free), When your register only pay <b>Rs 3500 /-</b> which is less than best dinner party in a town</p>

    <p style="font-family:arial; font-size:18px">Register and book your internship before 31st August 2022 before offers fees expires</p>

    <a href="https://www.instamojo.com/@innoovatum/lfee7d466d0bb40c49916691cad002c23/">

    <button type="button" class="btn btn-primary btn-lg">

    <b style="color:yellow; font-size:24px">Register Now @ Just Rs 3500/-</b><br>
    <i>*Get Mentoring worth Rs 5500/- absolutely free</i><br>

    <b style="font-size:14px; font-family:arial">Independence Day offers till 31st August 2022</b>
    </button>
              
</a>


</div><!--container-->
</section>




        <!-- Footer-->
        <footer class="bg-black text-center py-5">
            <div class="container px-5">
                <div class="text-white-50 small">
                    <div class="mb-2">&copy; Innoovatum.com 2022. All Rights Reserved.</div>
                     
                </div>
            </div>
        </footer>
        <!-- Feedback Modal-->
        <div class="modal fade" id="feedbackModal" tabindex="-1" aria-labelledby="feedbackModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header bg-gradient-primary-to-secondary p-4">
                        <h5 class="modal-title font-alt text-white" id="feedbackModalLabel">Send feedback</h5>
                        <button class="btn-close btn-close-white" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body border-0 p-4">
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- * * SB Forms Contact Form * *-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- This form is pre-integrated with SB Forms.-->
                        <!-- To make this form functional, sign up at-->
                        <!-- https://startbootstrap.com/solution/contact-forms-->
                        <!-- to get an API token!-->
                        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                            <!-- Name input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                                <label for="name">Full name</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                            </div>
                            <!-- Email address input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                                <label for="email">Email address</label>
                                <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                            </div>
                            <!-- Phone number input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                                <label for="phone">Phone number</label>
                                <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                            </div>
                            <!-- Message input-->
                            <div class="form-floating mb-3">
                                <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                                <label for="message">Message</label>
                                <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                            </div>
                            <!-- Submit success message-->
                            <!---->
                            <!-- This is what your users will see when the form-->
                            <!-- has successfully submitted-->
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">Form submission successful!</div>
                                    To activate this form, sign up at
                                    <br />
                                    <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                </div>
                            </div>
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                            <!-- Submit Button-->
                            <div class="d-grid"><button class="btn btn-primary rounded-pill btn-lg disabled" id="submitButton" type="submit">Submit</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
