<!DOCTYPE html>
<html lang="en">
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Adventure | Innoovatum</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
  
   <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
 ga('create', 'UA-43700380-1', 'innoovatum.com');
  ga('send', 'pageview');
</script>



</head>
<body>

<nav class="navbar navbar-expand-md bg-light navbar-light">
  <img src="../img/index2m.png" width="50" height="50" class="img-response"><a class="navbar-brand" href="/welcome"> <span style="font-size:30px; color: #aeb6bf ">&nbsp;Innoovatum</span></a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="index.html">About</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="stories.html">Stories</a>
      </li>

     
      <li class="nav-item">
        <a class="nav-link" href="impact.html">Impact</a>
      </li>

    <li class="nav-item">
        <a class="nav-link" href="#">Adventure & Fun</a>
      </li>

    </ul>
  </div>  
</nav>

<br>
 
 <div class="container">

  <h2> Fuelling fun & adventure in work culture ignites innovation & passion to work more...</h2>
 
<hr>
 </div>
  <!--Carousel Wrapper-->
<div id="video-carousel-example" class="carousel slide carousel-fade" data-ride="carousel">
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#video-carousel-example" data-slide-to="0" class="active"></li>
    <li data-target="#video-carousel-example" data-slide-to="1"></li>
    <li data-target="#video-carousel-example" data-slide-to="2"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    


    <div class="carousel-item active">
      <video class="video-fluid" autoplay loop muted width="100%">
        <source src="dandeli.mp4" type="video/mp4" />
      </video>
    </div>



    <div class="carousel-item">
      <video class="video-fluid" autoplay loop muted width="100%">
        <source src="innoovatum_2.mp4" type="video/mp4" />
      </video>
    </div>



    <div class="carousel-item">
      <video class="video-fluid" autoplay loop muted width="100%">
        <source src="workshops.mp4" type="video/mp4" />
      </video>
    </div>


  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#video-carousel-example" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#video-carousel-example" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
</div>
<!--Carousel Wrapper-->

</div>

<div class="container">




 <center><H1>File Photos</H1></center>




   <div class="row">
        

        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="../img/about/fun/2.jpg" alt=""></a>
            <div class="card-body">
               
              
              <p class="card-text"> </p>
              
              
            </div>
          </div>
        </div>


<div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="../img/about/fun/3.jpg" alt=""></a>
            <div class="card-body">
               
              
              <p class="card-text"> </p>
              
              
            </div>
          </div>
        </div>


<div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="../img/about/fun/4.jpg" alt=""></a>
            <div class="card-body">
               
              
              <p class="card-text"> </p>
              
              
            </div>
          </div>
        </div>


<div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="../img/about/fun/5.jpg" alt=""></a>
            <div class="card-body">
               
              
              <p class="card-text"> </p>
              
              
            </div>
          </div>
        </div>


<div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="../img/about/fun/6.jpg" alt=""></a>
            <div class="card-body">
               
              
              <p class="card-text"> </p>
              
              
            </div>
          </div>
        </div>


<div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="../img/about/fun/7.jpg" alt=""></a>
            <div class="card-body">
               
              
              <p class="card-text"> </p>
              
              
            </div>
          </div>
        </div>


<div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="../img/about/fun/8.jpg" alt=""></a>
            <div class="card-body">
               
              
              <p class="card-text"> </p>
              
              
            </div>
          </div>
        </div>


<div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="../img/about/fun/9.jpg" alt=""></a>
            <div class="card-body">
               
              
              <p class="card-text"> </p>
              
              
            </div>
          </div>
        </div>


<div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="../img/about/fun/10.jpg" alt=""></a>
            <div class="card-body">
               
              
              <p class="card-text"> </p>
              
              
            </div>
          </div>
        </div>


<div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="ilkal.jpg" alt=""></a>
            <div class="card-body">
               
              
              <p class="card-text"> </p>
              
              
            </div>
          </div>
        </div>


<div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="day.jpg" alt=""></a>
            <div class="card-body">
               
              
              <p class="card-text"> </p>
              
              
            </div>
          </div>
        </div>


<div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="day2.jpg" alt=""></a>
            <div class="card-body">
               
              
              <p class="card-text"> </p>
              
              
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="day3.jpg" alt=""></a>
            <div class="card-body">
               
              
              <p class="card-text"> </p>
              
              
            </div>
          </div>
        </div>


    <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="day4.jpg" alt=""></a>
            <div class="card-body">
              <p class="card-text"> </p>
            </div>
          </div>
        </div>


<div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="day5.jpg" alt=""></a>
            <div class="card-body">
              <p class="card-text"> </p>
            </div>
          </div>
        </div>

<div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="day6.jpg" alt=""></a>
            <div class="card-body">
              <p class="card-text"> </p>
            </div>
          </div>
        </div>


<div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="day7.jpg" alt=""></a>
            <div class="card-body">
              <p class="card-text"> </p>
            </div>
          </div>
        </div>

<div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="day8.jpg" alt=""></a>
            <div class="card-body">
              <p class="card-text"> </p>
            </div>
          </div>
        </div>


<div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="day9.jpg" alt=""></a>
            <div class="card-body">
              <p class="card-text"> </p>
            </div>
          </div>
        </div>


<div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="plane.jpg" alt=""></a>
            <div class="card-body">
              <p class="card-text"> </p>
            </div>
          </div>
        </div>


        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="day11.jpg" alt=""></a>
            <div class="card-body">
              <p class="card-text"> </p>
            </div>
          </div>
        </div>



        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="day12.jpg" alt=""></a>
            <div class="card-body">
              <p class="card-text"> </p>
            </div>
          </div>
        </div>



        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="day13.jpg" alt=""></a>
            <div class="card-body">
              <p class="card-text"> </p>
            </div>
          </div>
        </div>



        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="day14.jpg" alt=""></a>
            <div class="card-body">
              <p class="card-text"> </p>
            </div>
          </div>
        </div>



        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="day15.jpg" alt=""></a>
            <div class="card-body">
              <p class="card-text"> </p>
            </div>
          </div>
        </div>



        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="day16.jpg" alt=""></a>
            <div class="card-body">
              <p class="card-text"> </p>
            </div>
          </div>
        </div>



        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="day17.jpg" alt=""></a>
            <div class="card-body">
              <p class="card-text"> </p>
            </div>
          </div>
        </div>



        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="day18.jpg" alt=""></a>
            <div class="card-body">
              <p class="card-text"> </p>
            </div>
          </div>
        </div>



        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="day19.jpg" alt=""></a>
            <div class="card-body">
              <p class="card-text"> </p>
            </div>
          </div>
        </div>



  <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="day20.jpg" alt=""></a>
            <div class="card-body">
              <p class="card-text"> </p>
            </div>
          </div>
        </div>


        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="21.jpg" alt=""></a>
            <div class="card-body">
              <p class="card-text"> </p>
            </div>
          </div>
        </div>



        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="23.jpg" alt=""></a>
            <div class="card-body">
              <p class="card-text"> </p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="day18.jpg" alt=""></a>
            <div class="card-body">
              <p class="card-text"> </p>
            </div>
          </div>
        </div>



        

       

       

      
</div><!--container-->
 



</body>
</html>


