<!DOCTYPE html>
<html lang="en">
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Stories | Innoovatum</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet"> 
  
   <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
 ga('create', 'UA-43700380-1', 'innoovatum.com');
  ga('send', 'pageview');
</script>

</head>
<body>

   

<nav class="navbar navbar-expand-md bg-light navbar-light">
  <img src="../img/index2m.png" width="50" height="50" class="img-response"><a class="navbar-brand" href="/welcome"> <span style="font-size:30px; color: #aeb6bf ">&nbsp;Innoovatum</span></a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="index.html">About</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="stories.html">Stories</a>
      </li>

     
      <li class="nav-item">
        <a class="nav-link" href="impact.html">Impact</a>
      </li>

    <li class="nav-item">
        <a class="nav-link" href="fun.html">Adventure & Fun</a>
      </li>

    </ul>
  </div>  
</nav>

<br>
 
 <div class="container">
   <center>
    <h1 style="font-family: 'Satisfy', cursive; color: #06f">  People ask us about <span style="color:  #d5d8dc 
    ">Innoovatum,</span><br> What’s the secret of our success story, <b>We Say...</b></h1>
    </center>

<hr>
  <center>
    <p style="font-size: 20px">We haven't reached our destination yet, We broke a lot of times, had repeated failures, but we never give up during the hard times because we are passionate about what we do and we really love it working for noble cause for ourselves in engineering discipline. And in the long run, every failure turned to be stepping stone towards our success in chosen field.</p>
  </center>
</div>
  <br>

  <img src="../img/about/story2.jpg" width="100%" class="img-responsive">

<br><br>

 

 
   
  

<div class="container">
 <center> <h2>How It All Started</h2></center>
 <hr>
  
  <div id="accordion">
    <div class="card">
      <div class="card-header" style="background-color: #06f">
        <a class="card-link" data-toggle="collapse" href="#collapseOne">
          <span style="color: #f8f8f8">1. Idea & First Meet at Bangalore</span>
        </a>
      </div>
      <div id="collapseOne" class="collapse show" data-parent="#accordion">
        <div class="card-body">
          <center>
          <img src="story/first.jpg" class="img-thumbnail" width="100%">
        </center>
        </div>
      </div>
    </div>



<div class="card">
<div class="card-header" style="background-color: #06f">
<a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
<span style="color: #f8f8f8">2. Get Started With Single Room</span></a></div>

<div id="collapseTwo" class="collapse" data-parent="#accordion">
<div class="card-body">
 <img src="story/.jpg" class="img-thumbnail" width="100%">
</div>
</div>
</div>



<div class="card">
<div class="card-header" style="background-color: #06f">
<a class="collapsed card-link" data-toggle="collapse" href="#collapsefour">
<span style="color: #f8f8f8">3. Here comes the superstar - Sidesh</span></a></div>

<div id="collapsefour" class="collapse" data-parent="#accordion">
<div class="card-body">
<img src="story/sidesh.jpg" class="img-thumbnail" width="100%">
</div>
</div>
</div>




<div class="card">
<div class="card-header" style="background-color: #06f">
<a class="collapsed card-link" data-toggle="collapse" href="#collapsefive">
<span style="color: #f8f8f8">4. Launch day</span></a></div>

<div id="collapsefive" class="collapse" data-parent="#accordion">
<div class="card-body">
<img src="story/.jpg" class="img-thumbnail" width="100%">
</div>
</div>
</div>



<div class="card">
<div class="card-header" style="background-color: #06f">
<a class="collapsed card-link" data-toggle="collapse" href="#collapsesix">
<span style="color: #f8f8f8">5. Going places</span></a></div>

<div id="collapsesix" class="collapse" data-parent="#accordion">
<div class="card-body">
<img src="story/places.jpg" class="img-thumbnail" width="100%">
</div>
</div>
</div>



<div class="card">
<div class="card-header" style="background-color: #06f">
<a class="collapsed card-link" data-toggle="collapse" href="#collapseseven">
<span style="color: #f8f8f8">6. Hubli blues - most inspiring story</span></a></div>

<div id="collapseseven" class="collapse" data-parent="#accordion">
<div class="card-body">
<img src="story/hubli.jpg" class="img-thumbnail" width="100%">
</div>
</div>
</div>


<div class="card">
<div class="card-header" style="background-color: #06f">
<a class="collapsed card-link" data-toggle="collapse" href="#collapseeight">
<span style="color: #f8f8f8">7. Start of beginning in bijapur - think campus</span></a></div>

<div id="collapseeight" class="collapse" data-parent="#accordion">
<div class="card-body">
<img src="story/thinkcampus.jpg" class="img-thumbnail" width="100%">
</div>
</div>
</div>


<div class="card">
<div class="card-header" style="background-color: #06f">
<a class="collapsed card-link" data-toggle="collapse" href="#collapsenine">
<span style="color: #f8f8f8">8. Meet with Rashmi Bansal and dream come true.</span></a></div>

<div id="collapsenine" class="collapse" data-parent="#accordion">
<div class="card-body">
<img src="story/rashmibansal.jpg" class="img-thumbnail" width="100%">
</div>
</div>
</div>





<div class="card">
<div class="card-header" style="background-color: #06f">
<a class="collapsed card-link" data-toggle="collapse" href="#collapseTen">
<span style="color: #f8f8f8">9. Times Magazine recognition.</span></a></div>

<div id="collapseTen" class="collapse" data-parent="#accordion">
<div class="card-body">
<img src="story/time.jpg" class="img-thumbnail" width="100%">
</div>
</div>
</div>


<div class="card">
<div class="card-header" style="background-color: #06f">
<a class="collapsed card-link" data-toggle="collapse" href="#collapseaward">
<span style="color: #f8f8f8">10. Entrepreneur Recognition.</span></a></div>

<div id="collapseaward" class="collapse" data-parent="#accordion">
<div class="card-body">
<img src="story/award.jpg" class="img-thumbnail" width="100%">
</div>
</div>
</div>


<div class="card">
<div class="card-header" style="background-color: #06f">
<a class="collapsed card-link" data-toggle="collapse" href="#collapse11">
<span style="color: #f8f8f8">11. First workshop & Second Workshop</span></a></div>

<div id="collapse11" class="collapse" data-parent="#accordion">
<div class="card-body">
<img src="story/firstworkshop.jpg" class="img-thumbnail" width="100%">
</div>
</div>
</div>



<div class="card">
<div class="card-header" style="background-color: #06f">
<a class="collapsed card-link" data-toggle="collapse" href="#collapse12">
<span style="color: #f8f8f8">12. Job Fair and first meet with Innoovatum Co-founder Adbul Raheem Sutar</span></a></div>

<div id="collapse12" class="collapse" data-parent="#accordion">
<div class="card-body">
<img src="story/jobfair.jpg" class="img-thumbnail" width="100%">
</div>
</div>
</div>



<div class="card">
<div class="card-header" style="background-color: #06f">
<a class="collapsed card-link" data-toggle="collapse" href="#collapse13">
<span style="color: #f8f8f8">13. The major break (Think Campus Shutdowns)</span></a></div>

<div id="collapse13" class="collapse" data-parent="#accordion">
<div class="card-body">
<img src="story/.jpg" class="img-thumbnail" width="100%">
</div>
</div>
</div>



<div class="card">
<div class="card-header" style="background-color: #06f">
<a class="collapsed card-link" data-toggle="collapse" href="#collapse14">
<span style="color: #f8f8f8">14. Struggle to keep passion alive</span></a></div>

<div id="collapse14" class="collapse" data-parent="#accordion">
<div class="card-body">
<img src="story/dream.jpg" class="img-thumbnail" width="100%">
</div>
</div>
</div>



<div class="card">
<div class="card-header" style="background-color: #06f">
<a class="collapsed card-link" data-toggle="collapse" href="#collapse15">
<span style="color: #f8f8f8">15. Got Incubated</span></a></div>

<div id="collapse15" class="collapse" data-parent="#accordion">
<div class="card-body">
<img src="story/incubated.jpg" class="img-thumbnail" width="100%">
</div>
</div>
</div>



 



    <div class="card">
      <div class="card-header" style="background-color: #06f">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapse16">
           <span style="color: #f8f8f8">16. Dream Takes Wings</span>
        </a>
      </div>

      <div id="collapse16" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <img src="story/wing.jpg" class="img-thumbnail" width="100%">
        </div>
      </div>

    </div>


  </div>
</div>


<br><br><br>
</body>
</html>


