<!DOCTYPE html>
<html lang="en">
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>About | Innoovatum</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
  
   <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
 ga('create', 'UA-43700380-1', 'innoovatum.com');
  ga('send', 'pageview');
</script>  

</head>
<body>

 
    <!-- Navigation -->
    <style>
         .bg-dark {
    background-color: #28b463   !important;
}
    </style>
  
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="index.html">Engineering Projects</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
        
        
         
      <li class="nav-item">
        <a class="nav-link" href="/projectlist/machinelearningprojects">Projects</a>
        </li>
        
        
        
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        
      
        
         <li class="nav-item">
          <a class="nav-link" href="/impact">Our Impact</a>
        </li>
        
          <li class="nav-item">
          <a class="nav-link" href="/fun">Our Culture</a>
        </li> 
          <li class="nav-item">
          <a class="nav-link" href="/testimony">Feedbacks</a>
        </li>  
        
         
        
          <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li> 
      
       
      
    </ul>
  </div>  
</nav>


<img src="../img/about/front1.jpeg" class="img-response" width="100%">

 
<div class="container">

  <br>

<div class="jumbotron" style="background-color: white">
  <center>
 <h2 style="color:#202020"><span style="color: #06f"><b>Innoovatum's  Mission</b> is to</span><br>Make Engineering Education a Practical Approach</h2>

 <hr>
<p>“ Innoovatum is a web based engineering search engine, created for engineering education community in India, Initially launched for Karnataka's Visvesvaraya Technological University aka VTU, where students, alumni, professionals, faculty can upload their notes, websites, articles, events can be uploaded to search engine at free of cost and uploader is referred to as contributors to engineering search engine, And uploaded data can be accessed by anyone by searching on searching ”</p>
 <hr>
 <p><i>To motivate, inspire, assist, and support aspiring engineers to come up with new innovative ideas as well as successfully implement them. Our goal is to produce next generation of pioneering engineers who will change the world with their great vision. If you have an idea, big or small, we can help you! Come join us, as we are here to bring your vision to life!</i></p>
</center>
</div>



<div class="row">


  <div class="col-sm-6">

<div class="p-3 mb-2 bg-primary text-white" role="alert">
    <center><h2>Who we are</h2></center>
  </div>

<p>We are engineers with an exact mission of "Making Engineering Education a Practical Approach", and we are doing it with extreme dedication and determination followed by an unwavering passion to succeed in our chosen path.</p>

<img src="../img/about/we2.jpg" width="100%" class="img-thumbnail">

<br>
<br>

    <div class="p-3 mb-2 bg-success text-white" role="alert">
    <center><h2>What we do</h2></center>
  </div>
    <img src="../img/about/do.jpg" width="100%" class="img-thumbnail">

    <br><br>

    <p>We are in process of collabrating and integrating all the engineering resources in a single platform, thus creating a complete transparency of engineering resources among engineering colleges of VTU (Visvesvaraya Technological University) </p>

                       <p>Innoovatum.com is an engineering  search engine started in 2013 with “ Mission of making engineering education a practical approach “, Innoovatum.com is an engineering search engine developed for all the engineering students studying under Visvesvaraya Technological University (VTU) and Karnataka, in which we have collaborated all the engineering colleges of Karnataka in a single platform,    </p>
                       <p>Our mission is to motivate, inspire, assist, and support aspiring engineers to come up with new innovative ideas as well as successfully implement them. Our goal is to produce next generation of pioneering engineers who will change the world with their great vision. If you have an idea, big or small, we can help you! Come join us, as we are here to bring your vision to life!</p>

                       <p>Collaborating and integrating engineering resources in a single platform for rejuvenation of engineering studies, Innoovatum.com is a platform for future engineers and entrepreneurs providing them with organized engineering resources for their technological implementation and inspiring an entrepreneur in every engineer. Being start-up, we are in efforts for making innoovatum.com a platform where all engineering students, faculties and science researchers can share there resources making them transparent and accessible to everyone enhancing a invention and innovation environment</p>

                       <hr>
</div>



<div class="col-sm-6">

  <div class="p-3 mb-2 bg-warning text-white" role="alert">
   <center><h2>A bit about our work philosophy</h2></center>
 </div>

<img src="../img/about/philo.jpg" width="100%" class="img-thumbnail">
<br><br>
<center><p>After some indepth research and analysis we have come up with following points to be implemented to truly Make Engineering education a practical approach</p></center>
</ol>
 

                     <ol type="1">
                     <li style="color:#06f"><b>Making avaliability of engineering resources in a single platform</b></li>
                     <p>As it is a universal truth that findings all things in one place is better than getting things from different places, and we are doing this job really well by building huge a database of resources and  access to them through single window </p>


                     <li style="color:#06f"><b>Incubation for ideas in all engineering education</b></li>
                     <p>As the saying goes "The worth of ideas are unknown untill its implementation", Providing incubation in every engineering college will foster the practical learning approach in students, even it will initiate the startup culture in engineering colleges  </p> 


                     <li style="color:#06f"><b>Creating transparency of engineering and technical academic resource</b></li>
                     <p>We at Innoovatum.com believe that Engineers work practically, thus learning should be practical and technological transparency with students in college will differentiate good colleges from others. </p> 

                     <li style="color:#06f"><b>Encouraging entreprenuer's and college startups to lead innovation path</b></li>
                      <p>Economy is backbone of country and a strong economy always demands new entrepreneur's with new ideas which inturn creates huge employment and better life styles. Colleges are best place to inspire and motivate the students to come with innovative ideas through brainstroming sessions and workshops. </p>
                     

                      <li style="color:#06f"><b>Focusing more on skills than marks</b></li>
                      <p>As the saying goes "Skill and Confidence are unconquered armies"; Does academic marks matters most to once career ? Ofcourse they matter most but not at the expense of neglecting practical side or real time implementation., the culture we created about marks should be changed through complete practical approach towards in our learning which will add value to academic marks.   </p>  
                      
                     
                        <li style="color:#06f"><b>Realtime research in academics</b></li>
<p>As the word "Research" itself inspires every engineer, Its very neccessary to establish labs of current technologies in every engineering department of the colleges to aware students and make them practical capable and efficient to meet future technological requirements </p>
                         
                         <li style="color:#06f"><b>Establishing industry-academic collabration</b></li> 
                         <p>The best part that can happen in any college campus is "Academic and Industry collabration", It will create a platform where academicians will meet industrialists, which will results in paradigm towards better employment and learning process fit for applying in realtime applications</p>
                     </ol>

                     <hr>
</div>

</div><!--row-->



</div><!--container-->










</body>
</html>


