<!DOCTYPE html>
<html lang="en">

  <head>

     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Your final year project can provide you your first job, Take it seriously and learn how to implement it practically with us. along with practical training on programming languages">
    <meta name="author" content="Engineering Search Engine Innoovatum">
    <meta name="keywords" content="engineering projects, computer science projects, final year projects, 
    academic projects, java projects, dotnet projects, android projects, software projects, training istitute, Bijapur, Hubli, Belgaum, Bangalore, Mysore & Mangalore">
    
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
   

    <title>Contact for Final year computer science projects | Innoovatum.com</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/modern-business.css" rel="stylesheet">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
 ga('create', 'UA-43700380-1', 'innoovatum.com');
  ga('send', 'pageview');
</script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
 ga('create', 'UA-43700380-1', 'innoovatum.com');
  ga('send', 'pageview');
</script>

  </head>
  
  
    <!-- Navigation -->
    <style>
         .bg-dark {
    background-color: #28b463   !important;
}
    </style>
  
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="index.html">Engineering Projects</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
        
        
         
      <li class="nav-item">
        <a class="nav-link" href="/projectlist/machinelearningprojects">Projects</a>
        </li>
        
        
        
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        
      
        
         <li class="nav-item">
          <a class="nav-link" href="/impact">Our Impact</a>
        </li>
        
          <li class="nav-item">
          <a class="nav-link" href="/fun">Our Culture</a>
        </li> 
          <li class="nav-item">
          <a class="nav-link" href="/testimony">Feedbacks</a>
        </li>  
        
         
        
          <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li> 
       
      
    </ul>
  </div>  
</nav>
<style>
    
    body {
  padding-top: 0px;
}
</style>

  <body>

   
    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Contact For<br>
        <small>Practical Projects</small>
      </h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item active">Contact</li>
      </ol>

          <!-- Embedded Google Map -->
          <iframe src="https://www.google.com/maps/d/embed?mid=1xJBQOFZraWQQ7iFRdGRHoapJeM-LNuIh" width="100%" height="480"></iframe>
</div>
<br>
    
<div class="container">
     <center>
<ol class="breadcrumb_blue">
        <li class="breadcrumb-item"> 
          <h4 style="font-family: 'Pacifico', cursive;">Innoovatum Bijapur</h4>
        </li>
      </ol>
    </center>
     <p> <b>Innoovatum.com</b> <br>Landmark: BLDEA's Engineering College,<br>Ashram Road, Vijayapur.<br>
            <abbr title="Phone"><b>Phone</b></abbr>: (+91) 7204099395 9739848200<br>
            
          </p>

            <a class="btn btn-success" href="tel:720-409-9395" style="padding:10px;background-color:#f8f8f8);">
               Click to Call <span class="glyphicon glyphicon-earphone" style="padding-left:10px; padding-right:10px;"></span>
            </a>

<br><br>

          
      <center>
<ol class="breadcrumb_orange">
        <li class="breadcrumb-item"> 
          <h4 style="font-family: 'Pacifico', cursive;">Innoovatum Bangalore</h4>
        </li>
      </ol>
    </center>
    
    
      <p> <b>Innoovatum.com</b> <br>537, 8th Main, 3rd Block, HMT layout, <br>Near durgaparmeshwari Arch, <br>Vidyaranyapura, Bengaluru-560097
           <br> <abbr title="Phone"><b>Phone</b></abbr>: (+91) 8073023923<br>
       <br>
          
          
          </p>
          <a class="btn btn-success" href="tel:779-524-9152" style="padding:10px;background-color:#f8f8f8)">
   Click to Call <span class="glyphicon glyphicon-earphone" style="padding-left:10px; padding-right:10px;"></span>
</a>
             
          <br>  <br>


      <center>
<ol class="breadcrumb_orange">
        <li class="breadcrumb-item"> 
          <h4 style="font-family: 'Pacifico', cursive;">Innoovatum Gulbarga</h4>
        </li>
      </ol>
    </center>
    
    
      <p> <b>Sajjan Technologies | Innoovatum.com</b> <br>4TH FLOOR, SANGAM COMPLEX,<br> NEAR CITY BUS STAND, SUPER MARKET,<br> Gulbarga, Karnataka 585101
            <br><abbr title="Phone"><b>Phone</b></abbr>: (+91) 9743899991<br>
          <br>
           
          </p>
          <a class="btn btn-success" href="tel:779-524-9152" style="padding:10px;background-color:#f8f8f8)">
   Click to Call <span class="glyphicon glyphicon-earphone" style="padding-left:10px; padding-right:10px;"></span>
</a>
             
          <br>  <br>
          
          
          

      
   </div>
         

  

      
       	
 <div class="container"> 
<center>
<ol class="breadcrumb">
        <li class="breadcrumb-item"> 
          <h4 style="font-family: arial"> Send Project Enquiry</h4>
        </li>
      </ol>
    </center>
  


      <div class="row">
        <div class="col-lg-8 mb-4">
         

          <form   action="enquiry.php" method="post">
            <div class="control-group form-group">
              <div class="controls">
                <label>Full Name:</label>
                <input type="text" class="form-control" id="name" name="name" required data-validation-required-message="Please enter your name.">
                <p class="help-block"></p>
              </div>
            </div>
            
            <div class="control-group form-group">
              <div class="controls">
                <label>Phone Number:</label>
                <input type="tel" class="form-control" id="phone" name="phone" required data-validation-required-message="Please enter your phone number.">
              </div>
            </div>
            
            <div class="control-group form-group">
              <div class="controls">
                <label>Email Address:</label>
                <input type="email" class="form-control" id="email" name="email" required data-validation-required-message="Please enter your email address.">
              </div>
            </div>
            
            <div class="control-group form-group">
              <div class="controls">
                <label>Project Abstract:</label>
                <textarea rows="10" cols="100" class="form-control" id="message" name="abstract" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
              </div>
            </div>
            
            <div id="success"></div>
            <!-- For success/fail messages -->
            <input type="submit" class="btn btn-primary">
          </form>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Contact form JavaScript -->
    <!-- Do not edit these files! In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

  </body>

  </body>

</html>
