<!doctype html>
<html lang="en">
  <head>
      <title>Final year projects Innoovatum | Prime Projects</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="pricing.css" rel="stylesheet">
  </head>

  <body>
      
         <style>
         .bg-dark {
    background-color: #28b463   !important;
                  }
    </style>
  

 <nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="index.html">Engineering Projects</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
        
        
         
         <li class="nav-item">
      <a class="nav-link" href="projectlist/machinelearningprojects.html">Projects</a>
      </li>
      
      
      
      <li class="nav-item">
        <a class="nav-link" href="about.html">About</a>
      </li>
      
    
      
       <li class="nav-item">
        <a class="nav-link" href="impact.html">Our Impact</a>
      </li>
      
        <li class="nav-item">
        <a class="nav-link" href="fun.html">Our Culture</a>
      </li> 
        <li class="nav-item">
        <a class="nav-link" href="testimony.html">Feedbacks</a>
      </li>  
      
       
      
        <li class="nav-item">
        <a class="nav-link" href="contact.html">Contact</a>
      </li> 
      
       
      
    </ul>
  </div>  
</nav>

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h3  style="font-family:arial, sans-serif">Innoovatum takes <b>final year projects</b> to a complete new innovative level for students</h3>
      <p class="lead">Very low pricing for students based on their needs & requirments</p>
      <p class="lead"><b>Features mentioned in the particular plans are given to every member of the project group.</b></p>
    </div>

    <div class="container">
        
        <img src="flow.png" class="img-thumbnail" />
        
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow" style="background-color: #f8f8f8">
          <div class="card-header" style="background-color: #f1c40f ">
            <h4 class="my-0 font-weight-normal" style="color:#f8f8f8">Basic Engineering</h4>
             
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Rs 13,999/-<small class="text-muted"> /project group</small></h1>
          <ul class="list-group" style="text-align:left">
            
            <li class="list-group-item">	Complete project </li>
            <li class="list-group-item">	 Project report document</li>
            <li class="list-group-item">	Seminar and seminar report document</li>
              <li class="list-group-item">	Project explanation video</li>
            <li class="list-group-item">	Technical support till final project demonstration</li>
               <li class="list-group-item"> Technical Webinars on trending technologies on every saturday</li>
                <li class="list-group-item">Discount coupons on various Leading Training Institutes, Online Platforms and Technical Platforms </li>
               <hr>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Buy this plan</button>
          </div>
        </div>
        <div class="card mb-4 box-shadow" style="background-color: #f8f8f8">
          <div class="card-header" style="background-color:#cb4335 " >
            <h4 class="my-0 font-weight-normal" style="color:#f8f8f8">Advanced Engineering</h4>
             
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Rs 15,999/- <small class="text-muted"> /project group</small></h1>
            
            <ul class="list-group" style="text-align:left">
            
               <li class="list-group-item"> Complete project </li>
                <li class="list-group-item"> Project report document</li>
                <li class="list-group-item"> 4 Project reports binding and online delivery (Both hard & soft copy) to all four project members </li>
                <li class="list-group-item"> 4 Seminar and Seminar report document (Both hard & soft copy )</li>
                <li class="list-group-item"> Project explanation video</li>
                <li class="list-group-item"> Technical Support till final project demonstration</li>
                <li class="list-group-item"> Technical Webinars on trending technologies on every saturday</li>
                <li class="list-group-item"> Free Udemys's Fundamental Machine Learning Course </li>
                 <li class="list-group-item">Free Placement Assessment  Test on VTU Level (Aptitude, C-Programming, Logical) </li>
                 <li class="list-group-item">1Discount coupons on various Leading Training Institutes, Online Platforms and Technical Platforms </li>
            </ul>
            <hr>
            
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Buy this plan</button>
          </div>
        </div>
        <div class="card mb-4 box-shadow" style="background-color: #f8f8f8">
          <div class="card-header"  style="background-color: #06f">
            <h4 class="my-0 font-weight-normal" style="color:#f8f8f8">Excellent Engineering</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Rs 17,999/- <small class="text-muted">/project group</small></h1>
           
            <ul class="list-group" style="text-align:left">
            
             
            <li class="list-group-item"> Complete project</li>
                  <li class="list-group-item">    <b>4 Weeks Practical Internship</b> </li>
             <li class="list-group-item">    Project report document </li>
              <li class="list-group-item"> 	Project Explanation Video </li>
             <li class="list-group-item"> 4 Project reports binding and online delivery (Both hard & soft copy) to all four project members </li>
              <li class="list-group-item">  4 Seminar and Seminar Report (Both hard & soft copy )</li>
               <li class="list-group-item">	Technical Webinars on trending technologies on every saturday </li>
                <li class="list-group-item">	Discount coupons on various Leading engineering academic content platforms </li>
            <li class="list-group-item">    Free Udemys's  Fundamental Machine Learning Course  </li>
            <li class="list-group-item">	Free Placement Assessment  Test on VTU Level (Aptitude, C-Programming, Logical) </li>
            <li class="list-group-item">	Placement Training  </li>
            <li class="list-group-item">    Placement support for complete one year </li>
            <li class="list-group-item">    Industrial Expert Training on Machine Learning and Full stack development on framework level with Industrial Certification (Php & Python). </li>
            <li class="list-group-item">    Professional Grooming Development </li>
           
            <li class="list-group-item">    Free Entry to Innoovatum Workshops </li>
           
      
            <li class="list-group-item">    Discount coupons on various Leading Training Institutes, Online Platforms and Technical Platforms </li>
            <li class="list-group-item">    Life-Coach Mentoring </li>
            <li class="list-group-item">    Idea presentation /exploration platform for outstanding students (TedX) Engineering Talks </li>

             
             
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Buy this plans</button>
          </div>
        </div>
      </div>

      <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            <img class="mb-2" src="../img/index2m.png" alt="" width="40" height="40">
            <small class="d-block mb-3 text-muted">&copy; 2020-2021</small>
          </div>
          <div class="col-6 col-md">
            <h5>Workshops</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="https://innoovatum.com/workshop">Innoovatum Workshops </a></li>
              <li><a class="text-muted" href="https://innoovatum.com/workshopfeedbacks">Workshop Feedbacks</a></li>
              <li><a class="text-muted" href="https://innoovatum.com/workshopfeedbacks">Workshops Gallery</a></li>
             
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Internships</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="https://innoovatum.com/internship">Innoovatum Internships</a></li>
              
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="https://innoovatum.com/about/">Know us</a></li>
              <li><a class="text-muted" href="https://g.page/innoovatum?share">Location</a></li>
              <li><a class="text-muted" href="https://innoovatum.com/terms/policy.html">Privacy</a></li>
              <li><a class="text-muted" href="https://innoovatum.com/terms/">Terms</a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
  </body>
</html>
