<!DOCTYPE html>
<html lang="en">

  <head>

     <meta charset="utf-8">
     
     <meta name="viewport" content="width=device-width, initial-scale=1">
       <meta name="description" content="Your final year project can provide you your first job, Take it seriously and learn how to implement it practically with us. along with practical training on programming languages">
    <meta name="author" content="Engineering Search Engine Innoovatum">
    <meta name="keywords" content="engineering projects, computer science projects, final year projects, 
    academic projects, java projects, dotnet projects, android projects, software projects, training istitute, Bijapur, Hubli, Belgaum, Bangalore, Mysore & Mangalore">
    
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
 
    
  
    <title>Final year computer science project poineers in Bijapur, Hubli, Belgaum, Bangalore, Mysore & Mangalore</title>

        <title>Final year computer science projects Students Feedback | Innoovatum.com</title>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/modern-business.css" rel="stylesheet">
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
 ga('create', 'UA-43700380-1', 'innoovatum.com');
  ga('send', 'pageview');
</script>

  </head>
  
  <style>
      body {
  padding-top: 0px;
}
  </style>

  <body >

     
    <!-- Navigation -->
    <style>
         .bg-dark {
    background-color: #28b463   !important;
}
    </style>
  
 <nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="index.html">Engineering Projects</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
        
        
         
      <li class="nav-item">
        <a class="nav-link" href="/projectlist/machinelearningprojects">Projects</a>
        </li>
        
        
        
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        
      
        
         <li class="nav-item">
          <a class="nav-link" href="/impact">Our Impact</a>
        </li>
        
          <li class="nav-item">
          <a class="nav-link" href="/fun">Our Culture</a>
        </li> 
          <li class="nav-item">
          <a class="nav-link" href="/testimony">Feedbacks</a>
        </li>  
        
         
        
          <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li> 
      
    </ul>
  </div>  
</nav>


    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Students
        <small>Feedback</small>
      </h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">Home</a>
        </li>
        
      </ol>

      <div class="row">
          
          
          
           <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="images/red.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                
              </h4>
              
              <p class="card-text"> You guys are awesome like your company's name Innovative and Ultimatum. these 15 days have made me feel proud about being a CSE student as i now really what i can do using software. you have enhanced our imagination with the knowledge you shared with us. thanks for motivation<br>
              Innoovatum team attitude is very nice, Surely you will beat Google search engine if you kwwp working same.
              <strong>Anonymous Feedback<br>C.S Dept, BLDE Engineering College</strong><br>
              <a href="pdf_testimony/red1.pdf" target="_blank">View Authentication Copy</a>
              
            </div>
          </div>
        </div>
        

        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="images/blue.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                
              </h4>
              
              <p class="card-text">Thank you Innoovatum team for your motivation. Because i am feeling i can do something with my life. Thank you for inspiring us sir. and i will also join you someday for competation !!<br>
              "You made us to love our own branch".</p>
              <strong>Anonymous Feedback<br>C.S Dept, BLDE Engineering College</strong><br>
              <a href="pdf_testimony/blue2.pdf" target="_blank">View Authentication Copy</a>
              
              
            </div>
          </div>
        </div>


        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="images/green.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                
              </h4>
              <p class="card-text">I really enjoyed these sessions first time in engineering. I learnt some topics with enjoying the classes. Always i get afraid whenever i get errors in lab programs, now i am happy to say that i have confidence that i will debug the errors.<br>
              Thank you to your whole Innoovatum team for coming to our college and giving us knowledge thank you sir for inspiring us.</p>
              <strong>Anonymous Feedback<br>C.S Dept, BLDE Engineering College</strong><br>
              <a href="pdf_testimony/green3.pdf" target="_blank">View Authentication Copy</a>
              
              
            </div>
          </div>
        </div>



        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="images/orange.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                
              </h4>
              <p class="card-text">I was good to have about 15 days session. It really helpful for me. It gave me knowledge about Java. Creation of website was too good. you have developed courage in us. you said not to worry if we didnt get job, there is one or another way to get a job. Thank you Innoovatum Team.</p>
              <strong>Anonymous Feedback<br>C.S Dept, BLDE Engineering College</strong><br>
              <a href="pdf_testimony/yellow4.pdf" target="_blank">View Authentication Copy</a>
              
              
            </div>
          </div>
        </div>



        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="images/red.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                
              </h4>
              <p class="card-text">Respected Innoovatum team i really like to congragulate your success and really thank you because your Innoovatum team made me happy. I learnt soo many extra things web development and Java. So i am really inspired from you guys. now i have confidence in me to how the foot is laid towards success. so than you sir and your team</p>
              <strong>Anonymous Feedback<br>C.S Dept, BLDE Engineering College</strong><br>
              <a href="pdf_testimony/red5.pdf" target="_blank">View Authentication Copy</a>
              
              
            </div>
          </div>
        </div>



        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="images/blue.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                
              </h4>
              <p class="card-text">In this 15 days i learn more things in my engineering life so thank you sir and your Innoovatum Team.I done first day my own website , so very excited in that day and seeing that website all my family members were also happy. Thank you sir once again thank you.</p>
              <strong>Anonymous Feedback<br>C.S Dept, BLDE Engineering College</strong><br>
              <a href="pdf_testimony/blue6.pdf" target="_blank">View Authentication Copy</a>
              
              
            </div>
          </div>
        </div>



        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="images/green.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                
              </h4>
              <p class="card-text">Thank you sir for having so much patience and teaching us. we have learnt many new things in this sessions which will be very helpful for our future. we were expecting to complete atleast one project in this session</p>
              <strong>Anonymous Feedback<br>C.S Dept, BLDE Engineering College</strong><br>
              <a href="pdf_testimony/green7.pdf" target="_blank">View Authentication Copy</a>
              
              
            </div>
          </div>
        </div>



        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="images/orange.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                
              </h4>
              <p class="card-text"> Form this sessions we got confidence on ourselfs if we put effort we will achieve something than for improving our confidence. Overall sessions were good, excellent.</p>
              <strong>Anonymous Feedback<br>C.S Dept, BLDE Engineering College</strong><br>
              <a href="pdf_testimony/yellow8.pdf" target="_blank">View Authentication Copy</a>
              
              
            </div>
          </div>
        </div>


        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="images/red.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                
              </h4>
              <p class="card-text"> I felt really very awesome by hearing this Innoovatum.com and team.thank you for motivating me to work for my passion</p>
              <strong>Anonymous Feedback<br>C.S Dept, BLDE Engineering College</strong><br>
              <a href="pdf_testimony/red9.pdf" target="_blank">View Authentication Copy</a>
              
              
            </div>
          </div>
        </div>







        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="images/blue.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                
              </h4>
              <p class="card-text">The session were really good, i got some extra-ordinary knowledge. thanks for giving such a practical knowledge about website development, hosting and about facebook developers plugin -</p>
              
<strong>Shruti.S.Tanvashi<br>C.S Dept, BLDE Engineering College</strong><br>
              <a href="pdf_testimony/blue10.pdf" target="_blank">View Authentication Copy</a>
              
            </div>
          </div>
        </div>







        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="images/green.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                
              </h4>
              <p class="card-text">Website Development: A very well organised training, the whole concept were clear for buidling websites practically, performance overall the program was good, it was a great expreience learning website development</p>
<b>Afsa Inamdar</br>
Computer Science Dept
Secab Engg College Bijapur</b>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="images/orange.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                
              </h4>
              <p class="card-text"> The Training Session (Java and Web Development) was awesome, In Innoovatum all things we can find but we request to plz include some business and job opportunity so that average student can get job, I want to contributr to your company something </p>
<b>Rukkayya Landage <br>
Computer Science Dept BLDE Engg College Bijapur</b></strong><br>
              <a href="pdf_testimony/yellow12.pdf" target="_blank">View Authentication Copy</a>
 
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="images/red.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                
              </h4>
              <p class="card-text">Sir, i really congragulate you for your success and really thank ful to Innoovatum because Innoovatum team made me happy that i learned amny things that to be extra in this website development and core java sessions, i am really inspired by you guys, now i also have confidence in me to foot start (laid) towards success. so thank you sir and Innoovatum team.</p>
              <b>Shwetarani.A.Narayankar<br>
Computer Science Dept
BLDE Engineering College Bijapur</b>
</strong><br>
              <a href="pdf_testimony/red13.pdf" target="_blank">View Authentication Copy</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="images/blue.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                
              </h4>
              <p class="card-text"> It was very good, i learnt web-programming, learned new things about designing designing and coding, i want to know more about hosting, Thanks for telling us about sublime application for web-programming Thank you. </p>
<b>Kishor Ambekar<br>
Chetana BCA and BBA College Bijapur</b>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="images/green.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                
              </h4>
              <p class="card-text">The web development session was good, I learnt how to write computer programs in easy way, sessions were very useful for developing websites</p>
<b>Raju Nayak<br>
MBA Dept
A.S.Patil College of Commerce Bijapur</b>
            </div>
          </div>
        </div>
      </div>

      <!-- Pagination -->
      

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Innoovatum.com 2020</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
