<!DOCTYPE html>
<html lang="en">

  <head>

      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Your final year project can provide you your first job, Take it seriously and learn how to implement it practically with us. along with practical training on programming languages">
    <meta name="author" content="Engineering Search Engine Innoovatum">
    <meta name="keywords" content="engineering projects, computer science projects, final year projects, 
    academic projects, java projects, dotnet projects, android projects, software projects, training istitute, Bijapur, Hubli, Belgaum, Bangalore, Mysore & Mangalore">
    
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
  
    <title>Final year computer science project poineers in Bijapur, Hubli, Belgaum, Bangalore, Mysore & Mangalore</title>

    <title>Final year PHP projects</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/scrolling-nav.css" rel="stylesheet">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
 ga('create', 'UA-43700380-1', 'innoovatum.com');
  ga('send', 'pageview');
</script>
  </head>

  <body id="page-top">

 <style>
         .bg-dark {
    background-color: #28b463   !important;
}
    </style>
  
    
    
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="/projects">Engineering Projects</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
        
        
      <li class="nav-item">
        <a class="dropdown-item" href="/machinelearningprojects">Machine Learning & AI</a>
       </li>
       
       
       
       <li class="nav-item">
           <a class="dropdown-item" href="/iot">ELectronics & IoT</a>
       </li>
       
        
       
        <li class="nav-item">
        <a class="dropdown-item" href="/java">JAVA</a>
       </li>
       
         <li class="nav-item">
         <a class="dropdown-item" href="/dotnet">DOT NET</a>
       </li> 
       
       <li class="nav-item">
        <a class="dropdown-item" href="/php">PHP</a>
       </li> 
        
       
         <li class="nav-item">
           <a class="dropdown-item" href="/android">ANDROID</a>
       </li> 
       
      
       
      
    </ul>
  </div>  
</nav>

    <header class="bg-primary text-white">
      <div class="container text-center">
        <h1>Latest 2022 IoT Projects</h1>
        <p class="lead">Leading and practical academic project training</p>
       <a href="../index.html"> <button type="button" class="btn btn-warning">Home Page</button></a>
      </div>
    </header>

    <br>

<div class="container">

     <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th style="color:">PROJECT TITLE</th>
     
      </tr>
    </thead>
    <tbody>

     <tr>
        <td>IE001</td>
        <td><b>Arduino Powered ‘ANYTHING CARRYING BOX’ Robot with Self navigated with Mobile GPS Co-ordination.</b><br>
        This self operated robot will follow wherever you go through the GPS navigation (Longitude & longitude) of your android phone, This kind of follow me robot can be used by elderly persons or anyone to help them carry bags and boxes wherever they go !.
</td>
         
       
      </tr>

      <tr>
        <td>IE002</td>
        <td><b>New Generation Individual Room Architecture Optimized Home Automation Project.</b>
        <br>The best and advanced part of this project is that, this project is designed as per the individual Room architecture, having multiple controllable devices / appliance (lights, fans, switches) in the individual room, This advanced automation project will not only work on bluetooth but automatically by using passive sensors to detect the human presence and light intensity of the room.

        </td>
       
       
      </tr>
      
      <tr>
        <td>IE003</td>
        <td><b>IoT Based System Dust & CO2 Monitor To Avoid Allergic Bronchitis</b>
        <br>
        We have come up with a novel IoT based project to address a small part this big problem, the concern is, carbon-di-oxide and dust affects sleep of many people detrimentally and due to this fact, many people will get chronic pulmonary disease its a group of lung diseases that block airflow and make it difficult to breathe.

It becomes difficult to breathe, especially while sleeping. Therefore, We decided to create this project to track the dust density and the carbon dioxide density in the room remotely so as to get a prescient warning to extenuate the symptoms before they go to bed.
</td>
       
       
      </tr>
      
      
      
      
      <tr>
        <td>IE004</td>
        <td><b>Security Satellite Device with ESP-CAM 32 & Telegraph App Bot Integration</b>
        <br>
         Alzheimer's patients, Women’s & Child safety and tracking is a major concern as the number of crimes on children’s/Women’s are reported nowadays.With this motivation, We purpose a Security satellite device with ESPCAM-32 & Telegraph bot which uses a camera and integrated telegraph bot, 

Exciting security systems for child/women safety only provide the gps coordinates but our system will take & send the surrounding image of child/person/patient and gps coordinates whenever we send request commands from telegraph bot  in android app.

        </td>
        
       
       
      </tr>
      
      
      
      
      <tr>
        <td>IE005</td>
        <td><b>IoT based Home Surveillance device with dynamic motion detecting the motion </b><br>
        
        In this project the main idea is to solve a problem that almost all security camera’s face  nowadays, a camera that is positioned on a wall between two rooms, however you can only see one room at a time unless you login to the camera software to rotate it manually.  If someone were to walk into the opposite room, the camera would never record the action. To solve this problem, We decided to create a motion detecting/tracking based on which I could attach the camera so it would automatically reposition itself to wherever the motion was detected.

        
        </td>
       
       
      </tr>
      
      
      
      
      <tr>
        <td>IE006</td>
        <td><b>Improvised Smart Parking for Apartments</b><br>
        
        Smart car parking project aims at providing a confusion free and easy parking. This project helps the drivers of the cars to park their vehicles with minimum wastage of time with accurate information of the availability of the space to park It includes an Arduino Uno as the microcontroller unit to which the servo motors, LCD display ultrasonic sensors (HC-05) are interfaced. The LCD displays the availability of the space, the ultrasonic sensors keeps the check of the number of cars entering and exiting the parking space. The ultrasonic sensors detect the availability of the parking space.

        
        </td>
       
       
      </tr>
      
      
      
      <tr>
        <td>IE007</td>
        <td><b>Diabetes Monitoring over Android NFC</b> <br>
        A quick diagnosis of type 1 diabetes mellitus (DM1) through non-invasive means is an ideal way to provide a detection mechanism for paramedics before the involvement of GPs or other specialty staff. Primarily the diabetic test has been obtained with the urinary and blood ketone sample, however these methods are invasive, expensive, time consuming and inconvenient. 

The chemical decomposition analysis of organic compounds in the breath can provide an indication of glucose level. With the help of a suitable VOC sensor connected to Arduino and some data processing, the composition of ketone bodies, ethanol, methanol and other exogenous compounds can be analysed. The monitoring of the ketone bodies provides an efficient means of monitoring diabetic level for its convenience and non-invasive diagnosis. 
</td>
       
       
      </tr>
      
      
      
      
      
      
      
      <tr>
        <td>IE008</td>
        <td><b>IoT Based Greenhouse Farming with Sheltered Structure </b><br>
        A greenhouse (also called a glasshouse, or, if with sufficient heating, a hothouse) is a structure with walls and roof made chiefly of transparent material, such as glass,, in which plants requiring regulated climatic conditions are grown. And implementing greenhouses for such plantations will provide the best harvest.
The main scenario is to control temperature and watering as much as possible. Everything will be connected to the Arduino IOT Cloud so that we can monitor the status.

        </td>
       
       
      </tr>
      
      
      
      <tr>
        <td>IE010</td>
        <td><b>Ultraviolet Sanitization Robot for Covid-19 Third Wave </b><br>
        Honestly to report or to mention, many people in India and abroad have lost their loved ones and many countries lost their citizens due to the dangerous covid-19 virus in the past 1-2 years. Sanitization and sterilization have become an indistinguishable part of our daily life and even many sanitization workers  got infected in the process and died due to covid-19 virus.<br>
We have come up with a very innovative concept where we will be building a robot. The primary function of this robot is to disinfect a room or a flat surface using ultraviolet germicidal irradiation. The robot has ultraviolet LEDs which are responsible for killing the virus. Bio-organisms such as bacteria, viruses are known to be deactivated when exposed to UV light. Ultraviolet light destroys the genetic material in pathogens—DNA in bacteria and RNA in viruses thus preventing them from reproducing. Virus-like COVID-19 can remain active on surfaces for a long time, and UV light has been proven to destroy the RNA in viruses, thus killing it in the process, which reduces the chance of transmissions

        </td>
       
       
      </tr>
      
      
      
      <tr>
        <td>IE011</td>
        <td><b>Smart Environmental Box </b><br>
        
        This project will be of great help to the agricultural sector and fields , where we need to run several tests on the soil before we can start plantations.
This project is named as Smart Environmental Box which just needs to be placed in soil and then leave the rest of the work to the Box. It is equipped with several high quality sensors which will measure almost all the factors that are needed to be considered when we are testing the land.
It will measure the salinity level of the sand, water content, temperature, humidity and the air quality of the surrounding environment which will be a great help.

        </td>
       
       
      </tr>
      
      
      <tr>
        <td>IE012</td>
        <td><b>Covid Ward People Counter using Arduino UNO</b><br>
        
        We termed the name of this project as Covid Ward Counter” due to its current and urgent need in the market. Basic idea behind this project is to measure and display the number of persons entering in any room like Covid Ward, it may be seminar hall, conference room etc. LCD displays the number of people inside the room. We can use this project to count and display the number of visitors entering inside  covid ward. This works in two ways. That means the counter will be incremented if a person enters the room and will be decremented if a person leaves the room. 
In addition, it will automatically control room lights.When the room is empty the lights will be automatically turned off. In today’s world, there is a continuous need for automatic appliances to increase in standard of living, there is a sense of urgency for developing circuits that would ease the complexity of life. Also if someone wants to know the number of persons present in a room so as not to have congestion, the circuit proves to be helpful.

        </td>
       
       
      </tr>
      
      
      
      

    

       


    </tbody>
  </table>
  </div>
</div>

    
     

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>More benefits to final year students</h2>
            <p class="lead">Every project team will get project</p>

            <ul>
              
              <li>Project documentation and reports</li>
              <li>Presentations</li>
              <li>Project structure Implementation details</li>
              <li>Coding skills</li>
              <li>Job Skills</li>
              <li>Software and tools</li>
              <li>Placement Assistance</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Innoovatum 2020</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="js/scrolling-nav.js"></script>

  </body>

</html>
