<!DOCTYPE html>
<html lang="en">

  <head>

      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Your final year project can provide you your first job, Take it seriously and learn how to implement it practically with us. along with practical training on programming languages">
    <meta name="author" content="Engineering Search Engine Innoovatum">
    <meta name="keywords" content="engineering projects, computer science projects, final year projects, 
    academic projects, java projects, dotnet projects, android projects, software projects, training istitute, Bijapur, Hubli, Belgaum, Bangalore, Mysore & Mangalore">
    <title>Final year computer science project poineers in Bijapur, Hubli, Belgaum, Bangalore, Mysore & Mangalore</title>

    <title>Final year Java projects</title>
    
    
     
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
  

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/scrolling-nav.css" rel="stylesheet">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
 ga('create', 'UA-43700380-1', 'innoovatum.com');
  ga('send', 'pageview');
</script>
  </head>

  <body id="page-top">

    
    <style>
         .bg-dark {
    background-color: #28b463   !important;
}
    </style>
  
    
    
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="/projects">Engineering Projects</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
        
        
         
      <li class="nav-item">
        <a class="dropdown-item" href="/machinelearningprojects">Machine Learning & AI</a>
       </li>
       
       
       
       <li class="nav-item">
           <a class="dropdown-item" href="/iot">ELectronics & IoT</a>
       </li>
       
        
       
        <li class="nav-item">
        <a class="dropdown-item" href="/java">JAVA</a>
       </li>
       
         <li class="nav-item">
         <a class="dropdown-item" href="/dotnet">DOT NET</a>
       </li> 
       
       <li class="nav-item">
        <a class="dropdown-item" href="/php">PHP</a>
       </li> 
        
       
         <li class="nav-item">
           <a class="dropdown-item" href="/android">ANDROID</a>
       </li> 
       
       
      
    </ul>
  </div>  
</nav>

    <header class="bg-primary text-white">
      <div class="container text-center">
        <h1>JAVA IEEE & Web Based Projects</h1>
        <p class="lead">Leading and practical academic project training in Vijaypur and Hubli</p>
       <a href="../index.html"> <button type="button" class="btn btn-warning">Home Page</button></a>
      </div>
    </header>

    <br>

<div class="container">

     <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th style="color:">PROJECT TITLE</th>
        <th style="color:">TECHNOLOGY</th>
        <th style="color:">DOMAIN</th>
        <th style="color:">ABSTRACT</th>
      </tr>
    </thead>
    <tbody>

     <tr>
        <td>1</td>
        <td> A Situational Analytic Method for User Behavior Pattern in Multimedia Social Networks</td>
        <td>Big Data</td>
        <td>Java</td>
        <td><a href="javaprojects/1.pdf" target="_blank">Click here</a></td>
       
      </tr>
     <tr>
        <td>2</td>
        <td>Attribute Based Storage Supporting Secure Deduplication of Encrypted Data in Cloud</td>
        <td>Cloud Computing</td>
        <td>Java</td>
        <td><a href="javaprojects/2.pdf" target="_blank">Click here</a></td>
       
      </tr>

      <tr>
        <td>3</td>
        <td> A robust reputation management mechanism in the federated cloud</td>
        <td> Cloud Computing</td>
        <td>Java </td>
        <td><a href="javaprojects/3.pdf" target="_blank">Click here</a></td>
       
      </tr>

      <tr>
        <td>4</td>
        <td>Customer-Satisfaction-Aware Optimal Multiserver Configuration for Profit Maximization in Cloud Computing </td>
        <td> Cloud Computing</td>
        <td>Java </td>
        <td><a href="javaprojects/4.pdf" target="_blank">Click here</a></td>
       
      </tr>

      <tr>
        <td>5</td>
        <td>Securing Cloud Data under Key Exposure </td>
        <td> Cloud Computing</td>
        <td>Java </td>
        <td><a href="javaprojects/5.pdf" target="_blank">Click here</a></td>
       
      </tr> 

     <tr>
        <td>6</td>
        <td>RAAC: Robust and Auditable Access Control with Multiple Attribute Authorities for Public Cloud Storage </td>
        <td> Cloud Computing</td>
        <td>Java </td>
        <td><a href="javaprojects/6.pdf" target="_blank">Click here</a></td>
       
      </tr>


   <tr>
        <td>7</td>
        <td>Identity-Based Data Outsourcing with Comprehensive Auditing in Clouds</td>
        <td>Cloud Computing</td>
        <td>Java </td>
        <td><a href="javaprojects/7.pdf" target="_blank">Click here</a></td>
       
      </tr>    
 
      <tr>
        <td>8</td>
        <td>A Cross Tenant Access Control (CTAC) Model for Cloud Computing: Formal Specification and Verification</td>
        <td>Cloud Computing</td>
        <td>Java </td>
        <td><a href="javaprojects/8.pdf" target="_blank">Click here</a></td>
       </tr>

      <tr>
        <td>9</td>
        <td>A Novel Efficient Remote Data Possession Checking Protocol in Cloud Storage</td>
        <td>Cloud Computing</td>
        <td>Java </td>
        <td><a href="javaprojects/9.pdf" target="_blank">Click here</a></td>
       </tr>

       <tr>
        <td>10</td>
        <td>Public Interest Analysis Based on Implicit Feedback of IPTV Users </td>
        <td>Data Engineering </td>
        <td>Java </td>
        <td><a href="javaprojects/10.pdf" target="_blank">Click here</a></td>
      </tr>

      <tr>
        <td>11</td>
        <td>Search Rank Fraud and Malware Detection in Google Play </td>
        <td>Data Engineering </td>
        <td>Java </td>
        <td><a href="javaprojects/11.pdf" target="_blank">Click here</a></td>
      </tr>

      <tr>
        <td>12</td>
        <td>PPRank: Economically Selecting Initial Users for Influence Maximization in Social Networks  </td>
        <td>Data Engineering </td>
        <td>Java </td>
        <td><a href="javaprojects/12.pdf" target="_blank">Click here</a></td>
      </tr>

      <tr>
        <td>13</td>
        <td>Influence Maximization in Trajectory Databases </td>
        <td>Data Engineering </td>
        <td>Java </td>
        <td><a href="javaprojects/13.pdf" target="_blank">Click here</a></td>
      </tr>

      <tr>
        <td>14</td>
        <td> An Iterative Classification Scheme for Sanitizing Large-Scale Datasets</td>
        <td>Data Engineering </td>
        <td>Java </td>
        <td><a href="javaprojects/14.pdf" target="_blank">Click here</a></td>
      </tr>

      <tr>
        <td>15</td>
        <td>Personal Web Revisitation by Context and Content Keywords with Relevance Feedback  </td>
        <td>Data Engineering </td>
        <td>Java </td>
        <td><a href="javaprojects/15.pdf" target="_blank">Click here</a></td>
      </tr>

       <tr>
        <td>16</td>
        <td>Query Expansion with Enriched User Profiles for Personalized Search Utilizing Folksonomy Data  </td>
        <td>Data Engineering </td>
        <td>Java </td>
        <td><a href="javaprojects/16.pdf" target="_blank">Click here</a></td>
      </tr>

       <tr>
        <td>17</td>
        <td> Understand Short Texts by Harvesting and Analyzing Semantic Knowledge  </td>
        <td>Data Engineering </td>
        <td>Java </td>
        <td><a href="javaprojects/17.pdf" target="_blank">Click here</a></td>
      </tr>

       <tr>
        <td>18</td>
        <td>Computing Semantic Similarity of Concepts in Knowledge Graphs  </td>
        <td>Data Engineering </td>
        <td>Java </td>
        <td><a href="javaprojects/18.pdf" target="_blank">Click here</a></td>
      </tr>

       <tr>
        <td>19</td>
        <td>QDA: A Query-Driven Approach to Entity Resolution  </td>
        <td>Data Engineering </td>
        <td>Java </td>
        <td><a href="javaprojects/19.pdf" target="_blank">Click here</a></td>
      </tr>

      <tr>
        <td>20</td>
        <td> Influential Node Tracking on Dynamic Social Network: An Interchange Greedy Approach  </td>
        <td>Data Engineering </td>
        <td>Java </td>
        <td><a href="javaprojects/20.pdf" target="_blank">Click here</a></td>
      </tr>

      <tr>
        <td>21</td>
        <td>User Vitality Ranking and Prediction in Social Networking Services: a Dynamic Network Perspective</td>
        <td>Data Engineering </td>
        <td>Java </td>
        <td><a href="javaprojects/21.pdf" target="_blank">Click here</a></td>
      </tr>

      <tr>
        <td>22</td>
        <td>A Cross Tenant Access Control (CTAC) Model for Cloud Computing: Formal Specification and Verification  </td>
        <td>Cloud Computing</td>
        <td>Java </td>
        <td><a href="javaprojects/22.pdf" target="_blank">Click here</a></td>
      </tr>

      <tr>
        <td>23</td>
        <td>A Lightweight Secure Data Sharing Scheme for Mobile Cloud Computing </td>
        <td>Cloud Computing</td>
        <td>Java </td>
        <td><a href="javaprojects/23.pdf" target="_blank">Click here</a></td>
      </tr>

      <tr>
        <td>24</td>
        <td>A Modified Hierarchical Attribute-Based Encryption Access Control Method for Mobile Cloud Computing  </td>
        <td>Cloud Computing</td>
        <td>Java </td>
        <td><a href="javaprojects/24.pdf" target="_blank">Click here</a></td>
      </tr>

      <tr>
        <td>25</td>
        <td>A New Service Mechanism for Profit Optimizations of a Cloud Provider and Its Users </td>
        <td>Cloud Computing</td>
        <td>Java </td>
        <td><a href="javaprojects/25.pdf" target="_blank">Click here</a></td>
      </tr>

      <tr>
        <td>26</td>
        <td>A Novel Efficient Remote Data Possession Checking Protocol in Cloud Storage  </td>
        <td>Cloud Computing</td>
        <td>Java </td>
        <td><a href="javaprojects/26.pdf" target="_blank">Click here</a></td>
      </tr>

      <tr>
        <td>27</td>
        <td>A robust reputation management mechanism in the federated cloud  </td>
        <td>Cloud Computing</td>
        <td>Java </td>
        <td><a href="javaprojects/27.pdf" target="_blank">Click here</a></td>
      </tr>
      
      <tr>
        <td>28</td>
        <td>Achieving Efficient and Secure Data Acquisition for Cloudsupported Internet of Things in Smart Grid </td> 
        <td>Cloud Computing</td>
        <td>Java </td>
        <td><a href="javaprojects/28.pdf" target="_blank">Click here</a></td>
      </tr>

      <tr>
        <td>29</td>
        <td>Achieving secure, universal, and fine-grained query results verification for secure search scheme over encrypted cloud data </td>
        <td>Cloud Computing</td>
        <td>Java </td>
        <td><a href="javaprojects/29.pdf" target="_blank">Click here</a></td>
      </tr>
      
      <tr>
        <td>30</td>
        <td>Assessing Invariant Mining Techniques for Cloud-based Utility Computing Systems  </td>
        <td>Cloud Computing</td>
        <td>Java </td>
        <td><a href="javaprojects/30.pdf" target="_blank">Click here</a></td>
      </tr>
      

      <tr>
        <td>31</td>
        <td>Customer-Satisfaction-Aware Optimal Multiserver Configuration for Profit Maximization in Cloud Computing </td>
        <td>Cloud Computing</td>
        <td>Java </td>
        <td><a href="javaprojects/31.pdf" target="_blank">Click here</a></td>
      </tr>
     
     <tr>
        <td>32</td>
        <td>Efficient and Expressive Keyword Search Over Encrypted Data in Cloud  </td>
        <td>Cloud Computing</td>
        <td>Java </td>
        <td><a href="javaprojects/32.pdf" target="_blank">Click here</a></td>
      </tr>

     <tr>
        <td>33</td>
        <td>Fast Phrase Search for Encrypted Cloud Storage  </td>
        <td>Cloud Computing</td>
        <td>Java </td>
        <td><a href="javaprojects/33.pdf" target="_blank">Click here</a></td>
      </tr>
    
    <tr>
        <td>34</td>
        <td>Identity-Based Data Outsourcing with Comprehensive Auditing in Clouds  </td>
        <td>Cloud Computing</td>
        <td>Java </td>
        <td><a href="javaprojects/34.pdf" target="_blank">Click here</a></td>
      </tr>
    
    <tr>
        <td>35</td>
        <td>Identity-Based Encryption with Cloud Revocation Authority and Its Applications  </td>
        <td>Cloud Computing</td>
        <td>Java </td>
        <td><a href="javaprojects/35.pdf" target="_blank">Click here</a></td>
      </tr>
    
    <tr>
        <td>36</td>
        <td>Identity-Based Private Matching over Outsourced Encrypted Datasets  </td> 
        <td>Cloud Computing</td>
        <td>Java </td>
        <td><a href="javaprojects/36.pdf" target="_blank">Click here</a></td>
      </tr>
    
    <tr>
        <td>37</td>
        <td>Identity-based Remote Data Integrity Checking with Perfect Data Privacy Preserving for Cloud Storage  </td>
        <td>Cloud Computing</td>
        <td>Java </td>
        <td><a href="javaprojects/37.pdf" target="_blank">Click here</a></td>
      </tr>

      <tr>
        <td>38</td>
        <td>On the Security of Data Access Control for Multi-authority Cloud Storage Systems  </td>
        <td>Cloud Computing</td>
        <td>Java </td>
        <td><a href="javaprojects/38.pdf" target="_blank">Click here</a></td>
      </tr>

      <tr>
        <td>39</td>
        <td>Privacy Protection and Intrusion Avoidance for Cloudlet-based Medical Data Sharing  </td>
        <td>Cloud Computing</td>
        <td>Java </td>
        <td><a href="javaprojects/39.pdf" target="_blank">Click here</a></td>
      </tr>

      <tr>
        <td>40</td>
        <td>Privacy Protection based Access Control Scheme in Cloud-based Services </td>
        <td>Cloud Computing</td>
        <td>Java </td>
        <td><a href="javaprojects/40.pdf" target="_blank">Click here</a></td>
      </tr>

      <tr>
        <td>41</td>
        <td>Privacy-Preserving Multikeyword Similarity Search Over Outsourced Cloud Data  </td>
        <td>Cloud Computing</td>
        <td>Java </td>
        <td><a href="javaprojects/41.pdf" target="_blank">Click here</a></td>
      </tr>

      <tr>
        <td>42</td>
        <td>Provably Secure Key-Aggregate Cryptosystems with Broadcast Aggregate Keys for Online Data Sharing on the Cloud </td>
        <td>Cloud Computing</td>
        <td>Java </td>
        <td><a href="javaprojects/42.pdf" target="_blank">Click here</a></td>
      </tr>

      <tr>
        <td>43</td>
        <td>RAAC: Robust and Auditable Access Control with Multiple Attribute Authorities for Public Cloud Storage  </td>
        <td>Cloud Computing</td>
        <td>Java </td>
        <td><a href="javaprojects/43.pdf" target="_blank">Click here</a></td>
      </tr>

      <tr>
        <td>44</td>
        <td>Secure Data Sharing in Cloud Computing Using Revocable-Storage Identity-Based Encryption  </td>
        <td>Cloud Computing</td>
        <td>Java </td>
        <td><a href="javaprojects/44.pdf" target="_blank">Click here</a></td>
      </tr>

      <tr>
        <td>45</td>
        <td>Securing Cloud Data under Key Exposure </td>
        <td>Cloud Computing</td>
        <td>Java </td>
        <td><a href="javaprojects/45.pdf" target="_blank">Click here</a></td>
      </tr>

      <tr>
        <td>46</td>
        <td>TAFC: Time and Attribute Factors Combined Access Control for Time-Sensitive Data in Public Cloud  </td>
        <td>Cloud Computing</td>
        <td>Java </td>
        <td><a href="javaprojects/46.pdf" target="_blank">Click here</a></td>
      </tr>

      <tr>
        <td>47</td>
        <td>TEES: An Efficient Search Scheme over Encrypted Data on Mobile Cloud  </td>
        <td>Cloud Computing</td>
        <td>Java </td>
        <td><a href="javaprojects/47.pdf" target="_blank">Click here</a></td>
      </tr>

      <tr>
        <td>48</td>
        <td>Two-Cloud Secure Database for Numeric-Related SQL Range Queries with Privacy Preserving  </td>
        <td>Cloud Computing</td>
        <td>Java </td>
        <td><a href="javaprojects/48.pdf" target="_blank">Click here</a></td>
      </tr>

      <tr>
        <td>49</td>
        <td>An Iterative Classification Scheme for Sanitizing Large-Scale Datasets </td>
        <td>Data Mining</td>
        <td>Java </td>
        <td><a href="javaprojects/49.pdf" target="_blank">Click here</a></td>
      </tr>

      <tr>
        <td>50</td>
        <td> Analyzing Sentiments in One Go: A Supervised Joint Topic Modeling Approach  </td>
        <td>Data Mining</td>
        <td>Java </td>
        <td><a href="javaprojects/50.pdf" target="_blank">Click here</a></td>
      </tr>

      <tr>
        <td>51</td>
        <td>Collaborative Filtering-Based Recommendation of Online Social Voting  </td>
        <td>Data Mining</td>
        <td>Java </td>
        <td><a href="javaprojects/51.pdf" target="_blank">Click here</a></td>
      </tr>

      <tr>
        <td>52</td>
        <td>Computing Semantic Similarity of Concepts in Knowledge Graphs </td>
        <td>Data Mining</td>
        <td>Java </td>
        <td><a href="javaprojects/52.pdf" target="_blank">Click here</a></td>
      </tr>

      <tr>
        <td>53</td>
        <td>Detecting Stress Based on Social Interactions in Social Networks </td>
        <td>Data Mining</td>
        <td>Java </td>
        <td><a href="javaprojects/53.pdf" target="_blank">Click here</a></td>
      </tr>

      <tr>
        <td>54</td>
        <td>Dynamic Facet Ordering for Faceted Product Search Engines  </td>
        <td>Data Mining</td>
        <td>Java </td>
        <td><a href="javaprojects/54.pdf" target="_blank">Click here</a></td>
      </tr>

      <tr>
        <td>55</td>
        <td>Efficient Clue-based Route Search on Road Networks </td>
        <td>Data Mining</td>
        <td>Java </td>
        <td><a href="javaprojects/55.pdf" target="_blank">Click here</a></td>
      </tr>

      <tr>
        <td>56</td>
        <td>Efficient Keyword-aware Representative Travel Route Recommendation  </td>
        <td>Data Mining</td>
        <td>Java </td>
        <td><a href="javaprojects/56.pdf" target="_blank">Click here</a></td>
      </tr>

      <tr>
        <td>57</td>
        <td>Energy-efficient Query Processing in Web Search Engines  </td>
        <td>Data Mining</td>
        <td>Java </td>
        <td><a href="javaprojects/57.pdf" target="_blank">Click here</a></td>
      </tr>

      <tr>
        <td>58</td>
        <td> Generating Query Facets using Knowledge Bases </td>
        <td>Data Mining</td>
        <td>Java </td>
        <td><a href="javaprojects/58.pdf" target="_blank">Click here</a></td>
      </tr>

      <tr>
        <td>59</td>
        <td> Influential Node Tracking on Dynamic Social Network: An Interchange Greedy Approach  </td>
        <td>Data Mining</td>
        <td>Java </td>
        <td><a href="javaprojects/59.pdf" target="_blank">Click here</a></td>
      </tr>

      <tr>
        <td>60</td>
        <td>l-Injection: Toward Effective Collaborative Filtering Using Uninteresting Items  </td>
        <td>Data Mining</td>
        <td>Java </td>
        <td><a href="javaprojects/60.pdf" target="_blank">Click here</a></td>
      </tr>

      <tr>
        <td>61</td>
        <td>Mining Competitors from Large Unstructured Datasets</td>
        <td>Data Mining</td>
        <td>Java </td>
        <td><a href="javaprojects/61.pdf" target="_blank">Click here</a></td>
      </tr>

      <tr>
        <td>62</td>
        <td>Modeling Information Diffusion over Social Networks for Temporal Dynamic Prediction  </td>
        <td>Data Mining</td>
        <td>Java </td>
        <td><a href="javaprojects/62.pdf" target="_blank">Click here</a></td>
      </tr>

      <tr>
        <td>63</td>
        <td>Personal Web Revisitation by Context and Content Keywords with Relevance Feedback  </td>
        <td>Data Mining</td>
        <td>Java </td>
        <td><a href="javaprojects/63.pdf" target="_blank">Click here</a></td>
      </tr>

      <tr>
        <td>64</td>
        <td>PPRank: Economically Selecting Initial Users for Influence Maximization in Social Networks  </td>
        <td>Data Mining</td>
        <td>Java </td>
        <td><a href="javaprojects/64.pdf" target="_blank">Click here</a></td>
      </tr>

      <tr>
        <td>65</td>
        <td>QDA: A Query-Driven Approach to Entity Resolution </td>
        <td>Data Mining</td>
        <td>Java </td>
        <td><a href="javaprojects/65.pdf" target="_blank">Click here</a></td>
      </tr>

      <tr>
        <td>66</td>
        <td> Query Expansion with Enriched User Profiles for Personalized Search Utilizing Folksonomy Data  </td>
        <td>Data Mining</td>
        <td>Java </td>
        <td><a href="javaprojects/66.pdf" target="_blank">Click here</a></td>
      </tr>

      <tr>
        <td>67</td>
        <td>RAPARE: A Generic Strategy for Cold-Start Rating Prediction Problem   </td>
        <td>Data Mining</td>
        <td>Java </td>
        <td><a href="javaprojects/67.pdf" target="_blank">Click here</a></td>
      </tr>

      <tr>
        <td>68</td>
        <td>SociRank: Identifying and Ranking Prevalent News Topics Using Social Media Factors    </td>
        <td>Data Mining</td>
        <td>Java </td>
        <td><a href="javaprojects/68.pdf" target="_blank">Click here</a></td>
      </tr>

       <tr>
        <td>69</td>
        <td>Towards Real-Time, Country-Level Location Classification of Worldwide Tweets </td>
        <td>Data Mining</td>
        <td>Java </td>
        <td><a href="javaprojects/69.pdf" target="_blank">Click here</a></td>
      </tr>

       <tr>
        <td>70</td>
        <td>Trajectory Community Discovery and Recommendation by Multisource Diffusion Modeling   </td>
        <td>Data Mining</td>
        <td>Java </td>
        <td><a href="javaprojects/70.pdf" target="_blank">Click here</a></td>
      </tr>

       <tr>
        <td>71</td>
        <td> Understand Short Texts by Harvesting and Analyzing Semantic Knowledge  </td>
        <td>Data Mining</td>
        <td>Java </td>
        <td><a href="javaprojects/71.pdf" target="_blank">Click here</a></td>
      </tr>

       <tr>
        <td>72</td>
        <td>User Vitality Ranking and Prediction in Social Networking Services: a Dynamic Network Perspective   </td>
        <td>Data Mining</td>
        <td>Java </td>
        <td><a href="javaprojects/72.pdf" target="_blank">Click here</a></td>
      </tr>

       <tr>
        <td>73</td>
        <td>User-Centric Similarity Search   </td>
        <td>Data Mining</td>
        <td>Java </td>
        <td><a href="javaprojects/73.pdf" target="_blank">Click here</a></td>
      </tr>

       <tr>
        <td>74</td>
        <td> When to Make a Topic Popular Again?  A Temporal Model for Topic Re-hotting Prediction in Online Social Networks  </td>
        <td>Data Mining</td>
        <td>Java </td>
        <td><a href="javaprojects/74.pdf" target="_blank">Click here</a></td>
      </tr>

      




      

       



    </tbody>
  </table>
  </div>
</div>

    
     

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>More benefits to final year students</h2>
            <p class="lead">Every project team will get project</p>

            <ul>
              
              <li>Project documentation and reports</li>
              <li>Presentations</li>
              <li>Project structure Implementation details</li>
              <li>Coding skills</li>
              <li>Job Skills</li>
              <li>Software and tools</li>
              <li>Placement Assistance</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Innoovatum 2020</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="js/scrolling-nav.js"></script>

  </body>

</html>
