<!DOCTYPE html>
<html lang="en">

  <head>
      
      <title>AI Machine Learning & Data Sicence Projects 2021</title>

      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Your final year project can provide you your first job, Take it seriously and learn how to implement it practically with us. along with practical training on programming languages">
    <meta name="author" content="Engineering Search Engine Innoovatum">
    <meta name="keywords" content="engineering projects, computer science projects, final year projects, 
    academic projects, java projects, dotnet projects, android projects, software projects, training istitute, Bijapur, Hubli, Belgaum, Bangalore, Mysore & Mangalore">
    
    
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 
  
  
    <title>Final year computer science project poineers in Bijapur, Hubli, Belgaum, Bangalore, Mysore & Mangalore</title>

    <title> Final year Android projects</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/scrolling-nav.css" rel="stylesheet">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
 ga('create', 'UA-43700380-1', 'innoovatum.com');
  ga('send', 'pageview');
</script>
  </head>

  <body id="page-top">

      <style>
         .bg-dark {
    background-color: #28b463   !important;
}
    </style>
  
    
    
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="/projects">Engineering Projects</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
        
        
         
         <li class="nav-item">
       <a class="dropdown-item" href="/machinelearningprojects">Machine Learning & AI</a>
      </li>
      
      
      
      <li class="nav-item">
          <a class="dropdown-item" href="/iot">ELectronics & IoT</a>
      </li>
      
       
      
       <li class="nav-item">
       <a class="dropdown-item" href="/java">JAVA</a>
      </li>
      
        <li class="nav-item">
        <a class="dropdown-item" href="/dotnet">DOT NET</a>
      </li> 
      
      <li class="nav-item">
       <a class="dropdown-item" href="/php">PHP</a>
      </li> 
       
      
        <li class="nav-item">
          <a class="dropdown-item" href="/android">ANDROID</a>
      </li> 
      
      
       
      
    </ul>
  </div>  
</nav>

    <header class="bg-primary text-white">
      <div class="container text-center">
        <h1>2022-2023 Machine Learning Based Projects</h1>
        <p class="lead">Leading and practical academic project training</p>
       <a href="/projects"> <button type="button" class="btn btn-warning">Home Page</button></a>
      </div>
    </header>

    <br>

<div class="container">

     <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
       <!-- <th>ID</th>-->
        <th style="color:">PROJECT TITLE</th>
        <th style="color:">TECHNOLOGY</th>
        <!--<th style="color:">DOMAIN</th>-->
        <!--<th style="color:">ABSTRACT</th>-->
      </tr>
    </thead>
    <tbody>

     


       <tr> 
        <td>1. Object Detection Method Based on Aerial Image Instance Segmentation
by Unmanned Aerial System in the Framework of Decision Making
System
</td>
<td>ML/AI</td>
       </tr>
  

       
     <tr>
       <td>2. Evaluation of a Dual Convolutional Neural Network Architecture for
Object-wise Anomaly Detection in Cluttered X-ray Security Imagery
</td>
      <td>ML/AI</td>
     </tr>


  <tr>
  <td>3. Bacteria Classification using Image Processing and Deep learning</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>4. FINE-GRAINED CLASSIFICATION OF ENDOSCOPIC TYMPANIC
MEMBRANE IMAGES
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>5. GEOSPATIAL OBJECT DETECTION IN REMOTE SENSING
IMAGES BASED ON MULTI-SCALE CONVOLUTIONAL NEURAL
NETWORKS
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>6. An improved Human-Object interaction detection Network</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>7. Object Detection and Gesture Control of Four-Wheel Mobile Robot</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>8. Malicious URL Detection using Deep Learning</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>9. Marine Target Detection Based on Improved Faster R-CNN for
Navigation Radar PPI Images
</td>
  <td>ML/AI</td>
  </tr>



<tr>
  <td>10.An Efficient Mask Generation Method for Moving Object Detection in
Atmospheric Imaging
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>11.Improving Lives of Indebted Farmers Using Deep Learning: Predicting
Agricultural Produce Prices Using Convolutional Neural Networks
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>12.YOLO-based Threat Object Detection in X-ray Images</td>
  <td>ML/AI</td>
  </tr>



<tr>
  <td>13.An Observation of Vision Based Underwater Object Detection and
Tracking
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>14.A Befitting Image Data Crawling and Annotating System with CNN based
Transfer Learning.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>15.A Deep Transfer Learning Approach for Seizure detection using RGB
features of Epileptic Electroencephalogram Signals.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>16.A Machine Learning Model for Detecting Respiratory Problems using
Voice Recognition.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>17.A Novel Positive Transfer Learning Approach for Telemonitoring of
Parkinson’s Disease.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>18.A Survey of Recommender System Feedback Techniques, Comparison
and Evaluation Metrics.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>19.A Survey of Sentiment Analysis techniques</td>
  <td>ML/AI</td>
  </tr>



<tr>
  <td>20.A Survey on Trajectory Data Mining: Techniques and Applications.</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td> 21. A TRANSFER LEARNING METHOD OF SHIP IDENTIFICATION
BASED ON WEIGHTED HOG FEATURES.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>22. A Very Deep Transfer Learning Model for Vehicle Damage Detection and
Localization.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>23. Abnormal Gait Detection by Classifying inertial sensor data using
Transfer Learning.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>24. AN INTRODUCTION AND REVIEW ON MACHINE LEARNING
APPLICATIONS IN MEDICINE AND HEALTHCARE.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>25. Analysis of Learning Approaches for Machine Translation Systems.</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>26. Automated brain image classification based on VGG-16 and transfer
learning.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>27. Automated Machine Learning: The New Wave of Machine Learning.</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>28. Automatic Humour Detection in Tweets using Soft Computing Paradigms.</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>29. Breakthrough Conventional Based Approach for Dog Breed Classification
Using CNN with Transfer Learning.
</td>
  <td>ML/AI</td>
  </tr>



<tr>
  <td>30. Building Search Engine Using Machine Learning Technique.</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>31. Cinnamomum Camphora Classification Based on Leaf Image Using
Transfer Learning.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>32. Classification of Fabric Defects Based on Deep Adaptive Transfer
Learning.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>33. Classification of sports videos with combination of deep learning models
and transfer learning.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>34. Classification of Subcellular Protein Patterns in Human Cells with
Transfer Learning.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>35. Classifying Phishing Email Using Machine Learning and Deep Learning.</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>36. COMPARISON OF MACHINE LEARNING APPROACH IN SMART
WEARABLES.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>37. Comparison of Various Machine Learning Techniques and Its Uses in
Different Fields.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>38. Comparison Study on Artificial Neural Network and Online Sequential
Extreme Learning Machine in Regression Problem.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>39. Counteracting Electrode Shifts in Upper-Limb Prosthesis Control via
Transfer Learning.
</td>
  <td>ML/AI</td>
  </tr>



<tr>
  <td>40. Current Trends on Deep Learning Models for Brain Tumor Segmentation
and Detection – A Review.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>41. Deep Convolutional Neural Networks for plane identification on Satellite
imagery by exploiting transfer learning with a different optimizer.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>42. Deep Learning for Natural Language Parsing.</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>43. Design of Morse Message Transmission Control Algorithm Based on
Machine Learning.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>44. Detection of Pediatric Pneumonia from Chest X-Ray Images using CNN
and Transfer Learning.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>45. An Observation of Vision Based Underwater Object Detection and
Tracking
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>46. Detection of Rheumatoid Arthritis Using Machine Learning.</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>47. Doğal Dil İşleme Yöntemleri Kullanarak E-Maillerin Sınıflandırılması
E-Mail Classification Using Natural Language Processing.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>48. EEG-Based Identification of Latent Emotional Disorder Using the
Machine Learning Approach.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>49. Emotions and the Structure of the Language.</td>
  <td>ML/AI</td>
  </tr>



<tr>
  <td>50. Feature-Representation Transfer Learning for Human Activity
Recognition.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>51. Fraud Detection using Machine Learning and Deep Learning.</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>52. Fundamental Directivity Limitations of Dense Array Antennas: A
Numerical Study Using Hannan’s Embedded Element Efficiency.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>53. Gesture recognition based on transfer learning.</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>54. Heart Disease Detection Using Machine Learning Majority Voting
Ensemble Method.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>55. IDENTIFYING THE PREDICTIVE CAPABILITY OF MACHINE
LEARNING CLASSIFIERS FOR DESIGNING HEART DISEASE
DETECTION SYSTEM.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>56. Image Classification Based on transfer Learning of Convolutional neural
network.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>57. Image-Based Plant Disease Detection: A Comparison of Deep Learning
and Classical Machine Learning Algorithms.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>58. Indian Food Image Classification with Transfer Learning.</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>59. Interpretable Machine Learning in Healthcare through Generalized
Additive Model with Pairwise Interactions (GA2M): Predicting Severe
Retinopathy of Prematurity.
</td>
  <td>ML/AI</td>
  </tr>



<tr>
  <td>60. Location prediction on Twitter using machine learning Techniques.</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>61. Lung and Pancreatic Tumor Characterization in the Deep Learning Era:
Novel Supervised and Unsupervised Learning Approaches.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>62. MACHINE LEARNING BASED INTRUSION DETECTION SYSTEM.</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>63. Machine Learning based Rainfall Prediction.</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>64. Machine learning based sensitivity analysis for the applications in the
prediction and detection of cancer disease.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>65. Machine Learning Based Sleep-Status Discrimination Using a Motion
Sensing Mattress.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>66. Machine Learning on Biomedical Images: Interactive Learning, Transfer
Learning, Class Imbalance, and Beyond.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>67. Machine Learning Scheme for Geometrically-shaped Constellation
Classification utilizing Support Vector Machine in Multi-access Internet
of Vehicle Lighting.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>68. MLtool: A Tool to Automate the Construction, Evaluation, and Selection
of Machine Learning Models.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>69. MULTI-CLASS CREVASSE DETECTION USING GROUND
PENETRATING RADAR AND FEATURE-BASED MACHINE
LEARNING.
</td>
  <td>ML/AI</td>
  </tr>



<tr>
  <td>70. Multiple Classification of Flower Images Using Transfer Learning.</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>71. Neural-Based Machine Translation System Outperforming Statistical
Phrase-Based Machine Translation for Low-Resource Languages.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>72. Outlier Detection in Sensor Data using Machine Learning Techniques for
IoT Framework and Wireless Sensor Networks: A Brief Study.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>73. Physiological-Based Smart Stress Detector using Machine Learning
Algorithms.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>74. Prediction of Abnormal Plasma Discharge through Machine Learning.</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>75. Preliminary assessment for the development of CADe system for brain
tumor in MRI images utilizing transfer learning in Xception model.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>76. Q-TRANSFER: A Novel Framework for Efficient Deep Transfer
Learning in Networking.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>77. Recommender System for e-Learning based on Personal Learning Style.</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>78. Recommender System Providing Recommendations for Unidentified
Users of a Commerial Website.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>79. SAR SHIP DETECTION BASED ON RESNET AND TRANSFER
LEARNING.
</td>
  <td>ML/AI</td>
  </tr>



<tr>
  <td>80. SECOND LANGUAGE TRANSFER LEARNING IN HUMANS AND
MACHINES USING IMAGE SUPERVISION
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>81. Sensor-specific Transfer Learning for Hyperspectral Image Processing.</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>82. Sentiment Analysis in A Cross-Media Analysis Framework.</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>83. Sentiment Analysis of Yelp Reviews by Machine Learning.</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>84. Sentiment Analysis Using Naive Bayes Algorithm Of The Data Crawler :
Twitter.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>85. Sentiment Classification using N-gram IDF and Automated Machine
Learning.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>86. SMART HOME BASED PREDICTION OF SYMPTOMS OF
ALZHEIMER’S DISEASE USING MACHINE LEARNING AND
CONTEXTUAL APPROACH.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>87. Stock Market Analysis using Supervised Machine Learning.</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>88. Study on Machine Learning Techniques In Financial Markets.</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>89. Supervised Learning Algorithm: SVM with Advanced Kernel to classify
Lower Back Pain.
</td>
  <td>ML/AI</td>
  </tr>



<tr>
  <td>90. Supervised Machine Learning Algorithms for Credit Card Fraud
Detection: A Comparison.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>91. Textual Question Answering for Semantic Parsing in Natural Language
Processing.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>92. Towards Automated Translating Natural Language Sentences into
Intensional Constructions.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>93. Traffic Prediction for Intelligent Transportation System using Machine
Learning.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>94. Transfer Learning based GDP Prediction from Uncertain Carbon Emission
Data.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>95. Transfer Learning Based Method for Two-Step Skin Cancer Images
Classification.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>96. TRANSFER LEARNING FOR CHANGES DETECTION IN OPTICAL
REMOTE SENSING IMAGERY.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>97. Transfer Learning with ResNet-50 for Malaria Cell-Image Classification.</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>98. Using Machine Learning to Classify Test Outcomes.</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td>99. Using Siamese Networks with Transfer Learning for Face Recognition on
Small-Samples Datasets.
</td>
  <td>ML/AI</td>
  </tr>



<tr>
  <td>100. Virtual Reality Therapy and Machine Learning Techniques in Drug
Addiction.
</td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td></td>
  <td>ML/AI</td>
  </tr>


<tr>
  <td></td>
  <td>ML/AI</td>
  </tr>







    </tbody>
  </table>
  </div>
</div>

    
     

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>More benefits to final year students</h2>
            <p class="lead">Every project team will get project</p>

            <ul>
              
              <li>Project documentation and reports</li>
              <li>Presentations</li>
              <li>Project structure Implementation details</li>
              <li>Coding skills</li>
              <li>Job Skills</li>
              <li>Software and tools</li>
              <li>Placement Assistance</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright & copy; Innoovatum 2020</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="js/scrolling-nav.js"></script>

  </body>

</html>
